body
	{width:534px;
	height:400px;}
.TB
	{mso-special-format:nobullet•;}
.T
	{text-align:center;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;
	color:#C6CCD4;
	mso-color-index:3;
	font-size:209%;}
.BB
	{mso-special-format:bullet•;
	color:#C6CCD4;
	mso-color-index:3;}
.B
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;
	color:white;
	mso-color-index:1;
	font-size:152%;}
.B1B
	{mso-special-format:bullet–;}
.B1
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;
	color:white;
	mso-color-index:1;
	font-size:133%;}
.B2B
	{mso-special-format:bullet•;
	color:#C6CCD4;
	mso-color-index:3;}
.B2
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;
	color:white;
	mso-color-index:1;
	font-size:114%;}
.B3B
	{mso-special-format:bullet–;}
.B3
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;
	color:white;
	mso-color-index:1;
	font-size:95%;}
.B4B
	{mso-special-format:bullet•;
	color:#C6CCD4;
	mso-color-index:3;}
.B4
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;
	color:white;
	mso-color-index:1;
	font-size:95%;}
.NB
	{mso-special-format:nobullet•;}
.N
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N1B
	{mso-special-format:nobullet•;}
.N1
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N2B
	{mso-special-format:nobullet•;}
.N2
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N3B
	{mso-special-format:nobullet•;}
.N3
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.N4N
	{mso-special-format:nobullet•;}
.N4
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:57%;}
.OB
	{mso-special-format:nobullet•;}
.O
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;
	color:white;
	mso-color-index:1;
	font-size:85%;}
.O1
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.O2
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.O3
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.O4
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.CBB
	{mso-special-format:nobullet•;
	color:#C6CCD4;
	mso-color-index:3;}
.CB
	{text-align:center;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;
	color:white;
	mso-color-index:1;
	font-size:152%;}
.CB1
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.CB2B
	{mso-special-format:nobullet•;
	color:#C6CCD4;
	mso-color-index:3;}
.CB2
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.CB3
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.CB4B
	{mso-special-format:nobullet•;
	color:#C6CCD4;
	mso-color-index:3;}
.CB4
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.CTB
	{mso-special-format:nobullet•;}
.CT
	{text-align:center;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;
	color:#C6CCD4;
	mso-color-index:3;
	font-size:209%;}
.HBB
	{mso-special-format:bullet•;
	color:#C6CCD4;
	mso-color-index:3;}
.HB
	{text-align:left;
	font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;
	color:white;
	mso-color-index:1;
	font-size:133%;}
.HB1
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.HB2B
	{mso-special-format:bullet•;
	color:#C6CCD4;
	mso-color-index:3;}
.HB2
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.HB3
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.HB4B
	{mso-special-format:bullet•;
	color:#C6CCD4;
	mso-color-index:3;}
.HB4
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.QBB
	{mso-special-format:bullet•;
	color:#C6CCD4;
	mso-color-index:3;}
.QB
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.QB1
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.QB2B
	{mso-special-format:bullet•;
	color:#C6CCD4;
	mso-color-index:3;}
.QB2
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.QB3
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.QB4B
	{mso-special-format:bullet•;
	color:#C6CCD4;
	mso-color-index:3;}
.QB4
	{font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;}
.defaultB
	{mso-special-format:nobullet•;}
.default
	{text-align:left;
	font-family:Arial;
	mso-ascii-font-family:Arial;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Arial;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:white;
	mso-color-index:1;
	font-size:85%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-ansi-language:EN-US;}
a:link
	{color:#4529AB !important;}
a:active
	{color:#5B5B8D !important;}
a:visited
	{color:#00CC99 !important;}
