<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description
content="2/23/2017: Len climbed the tower again to attach the guy wires and stabilize it for the last section and mast assembly.">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="19"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s19458" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAL7V
35s/AwAACwcAABAAAABkcnMvc2hhcGV4bWwueG1spFTfb9s4DH4fsP9B0OuhS5ulaxvUGdoAvRsQ
FEHd4R4L2ZYTL7LkSXKa9K+/j5STtX04HG5BIJMiKZIff1x/3bVGbLUPjbOZPPt0KoW2pasau8rk
98e7k0spQlS2UsZZncm9DvLr7OOH624aOgFjG6ZdJtcxdtPRKJRr3arwyXXaQlY736oI1q9GnddB
26giHLVmND49/TJqVWPlDE/Zbd4tPVHl/XbpRVNlcnI5+Xw+kcKqFn4fdIkoVkaLsRwNislGIZCF
KzdhiEb9l2gqr56R4ptAhHV/euRyBp9uvoY3feO9e15rVQW6ht8RR3gI1iJWiqVbi7jvEGVsotES
4e8Q//hqcvXlYnx1PhgmbbzwK9uArDmbuLt11X52raYFvkAgIfv/c0FJI4Bw/kWKZ6+QVvjZK4/g
zDeLbK7OJhPUOjIzOb8Yg/GvJcVrie3buTMMjbIlXs1kGb0UiZlH8LAvXdupuLB5V5IqZdP5EB93
fyvfCSKBkN7Fe5evVadZQW0XIRKwr3WZTUDQIybEPO5R+t8EBW7g5Xdf4UdQoVb5BacN4oEJswVE
wKGxFTqdSWVWGCvGqtL1oyrylwF7wjsmfa0W9tZvGN7a2XjDRoUKVC0MjB3EMKGuRN8ue1vCQcLY
EOAUVejKZRnFVlGlTunHnQcAX2nc6vq97kEN9r+kN3X8F71BWvRz4x93DGzR5y9H8g5pHJl7bA5W
iapI1VZToPHAvU+FpylS03QA2U3fNq370SRQkXEmtT35nmMTAb3xBHmJIiHNZ59JCxe0qHyzwRha
lzMlxUZ74A/9kkZg0KL2xJWl7WSaF/0Xs4S3aWjHsWzpnauZrhof90yFNs6NVvwiRWwsndbdNcak
Hk43wZmmoktGkHaiBk6pMHHHCwxpv9HSdY0NB3TIxPVR+3xdPYvC9P5BVZn8fImKSlE1NERHBnM3
vkiVFqnVouGxCn5VHF2ywqHIx7d5yN647Rd2qFlPwQ80dyDvt1qVQOeP9seJidRZaqrVO4FWSVCG
d4IyDL3oU7HjTDw94c8/+ib6eA6ig+R4f7RhizfiwYQ1mD5cPAlaL0AWJ5qMOg5nNz0sXZChm/0D
AAD//wMAUEsDBBQABgAIAAAAIQBA1ofR2wAAAP4AAAAPAAAAZHJzL2Rvd25yZXYueG1sRI/BTsMw
EETvSPyDtUjcqAMEVELdqqAAlQKHpBzgtsTbJGpsR/bSJn+PxQGOoxm90VusRtOLA/nQOavgcpaA
IFs73dlGwfv26WIOIjBajb2zpGCiAKvl6ckCM+2OtqRDxY2IEBsyVNAyD5mUoW7JYJi5gWzsds4b
5Bh9I7XHY4SbXl4lya002Nn40OJAjy3V++rbKLh7eN5ve/M5rvNGv71WnJdFnSt1fjau70Ewjfw/
dsXH5Iq/8he10QrSeXp9k4LYvUxfvtMlBiavIApG3agKcvkDAAD//wMAUEsBAi0AFAAGAAgAAAAh
AFrjEWb+AAAA4gEAABMAAAAAAAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECLQAU
AAYACAAAACEAMd1fYdIAAACPAQAACwAAAAAAAAAAAAAAAAAvAQAAX3JlbHMvLnJlbHNQSwECLQAU
AAYACAAAACEAvtXfmz8DAAALBwAAEAAAAAAAAAAAAAAAAAAqAgAAZHJzL3NoYXBleG1sLnhtbFBL
AQItABQABgAIAAAAIQBA1ofR2wAAAP4AAAAPAAAAAAAAAAAAAAAAAJcFAABkcnMvZG93bnJldi54
bWxQSwUGAAAAAAQABAD1AAAAnwYAAAAA
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="f"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s19458" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:6.5%;left:.56%;width:99.25%;height:5.25%'><span
 style='font-size:55%;text-shadow:auto'>Len climbed the tower again to attach
 the guy wires and </span></span><span style='position:absolute;top:12.0%;
 left:5.99%;width:88.2%;height:5.25%'><span style='font-size:55%;text-shadow:
 auto'>stabilize it for the last section and mast assembly.</span></span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s19459"
  type="#_x0000_m1031" alt="CIMG2889" style='position:absolute;left:3in;top:180pt;
  width:162pt;height:3in;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0018_image058.jpg" o:title="CIMG2889"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_8" src="slide0018_image059.gif" alt=CIMG2889
 style='position:absolute;top:33.25%;left:29.96%;width:22.47%;height:40.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s19460" type="#_x0000_m1031"
  alt="CIMG2888" style='position:absolute;left:18pt;top:270pt;width:182.25pt;
  height:243pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0018_image060.jpg" o:title="CIMG2888"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_9" src="slide0018_image061.gif" alt=CIMG2888
 style='position:absolute;top:50.0%;left:2.43%;width:25.28%;height:45.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s19461" type="#_x0000_m1031"
  alt="CIMG2887" style='position:absolute;left:392.25pt;top:126pt;width:265.5pt;
  height:354pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="f" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <v:textbox style='mso-rotate-with-shape:t'/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape></p:slide></div>

</body>

</html>
