<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description
content="2/23/2017: Hole locations were spotted from the tower and dug for the guy wire poles which were used to place the guy wires over structures and high enough to walk under.">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="18"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s18434" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAERz
CLpMAwAAQQcAABAAAABkcnMvc2hhcGV4bWwueG1spFRtb9s4DP5+wP6DoK+HLm2WrUtQZ2gD9O6A
oAjqDvtY0LaceJElT5LTtL9+DyUnfcFwONwCRCZFUiQfvlx82bda7JTzjTWZPHt/KoUypa0as87k
17vrk89S+ECmIm2NyuSj8vLL/N0fF93MdwLGxs+6TG5C6GajkS83qiX/3nbKQFZb11IA69ajzimv
TKAAR60ejU9PP41aaoyc4ymzy7uVY6q82a2caKpMTs6n4w8TKQy18HurSkSx1kqM5WhQTDaEQJa2
3PohGvov0VSOHpDiq0CEsX855HIGn3axgTd16Zx92CiqPF/D7yhGeAjWIFaOpduI8NghytAErQDY
UyZ/9OSCchK57JHMeDqZfjofTz8OryRTPPecugcEMbWwv7LV4/yCZgW+gCPB/P8TQ30DULHuSYoH
R8jRc3iIVP9jkNr0bDJB4UNkJh/Px2DcS0nxUmL6dmF1xIlMiVczWQYkmphFAA/70rYdhaXJu5JV
OZvO+XC3/0auE0wCLrUPNzbfUKeiAu2WPjDKL3Ujm4DgR7QPeXhEH/wmKHADL7/7SnwEFWrJLWPa
IG4joXeACDg0pkLbR5L0GjMWsapUfUdFjj6J2DPeIekrWport43w1taEy2hUkOdqYXrMIIYJtyia
eNWbEg4SxpoB56h8V67KIHbElTrlX+w8APhC40rVb3UParB/ll7W4V/0BmnRL7S720dgiz5/OpLX
SOPI3GCNRJVARao2zYDGbex9LjyPFM3SAWS3fdu09nuTQEXGmVTm5GuepgxrBEAUCel49pk0cMFb
yzVbzKSxeaSk2CoH/KFf8ggMWtyeuDK8qnTzpP6OLOOtG154UbZy1taR9m1YaEXxHY5TGz6NvW60
Tp2bbrzVTcWXETdeiwropHKEfdxhSPaVlqprLDlgwia2x/LIN9WDKHTvbqnK5IfPqKMUVcOjc2Qw
bePzVF+RGizoOEzerYujy6hwKO3x7Thar9z2SzNUqufgBzr2XVxxNZXA5M/2+4kO3E80U/RGoCgJ
Sv9GUPqhA10qcZiL+/t7/qdfpA7skUkXfP7qP5g/K6UL8M9XB7vhLgmiy6NkuMMnUokVvIdQDJzo
Rm5NnN3ssJ1B+m7+EwAA//8DAFBLAwQUAAYACAAAACEARLP5HtwAAAD+AAAADwAAAGRycy9kb3du
cmV2LnhtbESPTUvDQBRF94L/YXiCOzuxLWpjp6VKtIIKJu3G3TPzmoTOR5h5tum/d3Chy8u9nMuZ
LwdrxIFC7LxTcD3KQJCrve5co2C7ebq6AxEZnUbjHSk4UYTl4vxsjrn2R1fSoeJGJIiLOSpomftc
yli3ZDGOfE8udTsfLHKKoZE64DHBrZHjLLuRFjuXHlrs6bGlel99WwWzh+f9xtjPYVU0+v2t4qJ8
rQulLi+G1T0IpoH/xx9rs8XJX/mLetEKprez8WQKYrc+fYVOlxiZgoIkmHSTKsjFDwAAAP//AwBQ
SwECLQAUAAYACAAAACEAWuMRZv4AAADiAQAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlw
ZXNdLnhtbFBLAQItABQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAAAAAAAAAAAAAAC8BAABfcmVs
cy8ucmVsc1BLAQItABQABgAIAAAAIQBEcwi6TAMAAEEHAAAQAAAAAAAAAAAAAAAAACoCAABkcnMv
c2hhcGV4bWwueG1sUEsBAi0AFAAGAAgAAAAhAESz+R7cAAAA/gAAAA8AAAAAAAAAAAAAAAAApAUA
AGRycy9kb3ducmV2LnhtbFBLBQYAAAAABAAEAPUAAACtBgAAAAA=
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="f"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1" size="quarter"/></v:shape>
 <div v:shape="_x0000_s18434" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:5.25%;left:.18%;width:100.0%;height:
 4.5%'><span style='font-size:45%;text-shadow:auto'>Hole locations were spotted
 from the tower and dug for the guy wire </span></span><span style='position:
 absolute;top:9.75%;left:-1.68%;width:103.74%;height:4.5%'><span
 style='font-size:45%;text-shadow:auto'>poles which were used to place the guy
 wires over structures and high </span></span><span style='position:absolute;
 top:14.25%;left:5.99%;width:88.2%;height:4.5%'><span style='font-size:45%;
 text-shadow:auto'>enough to walk under.</span></span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s18435"
  type="#_x0000_m1031" alt="CIMG2881" style='position:absolute;left:462pt;
  top:5in;width:3in;height:162pt;visibility:visible;mso-wrap-style:square'
  o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
  stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0017_image050.jpg" o:title="CIMG2881"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_7" src="slide0017_image051.gif" alt=CIMG2881
 style='position:absolute;top:66.75%;left:64.23%;width:29.96%;height:30.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s18436" type="#_x0000_m1031"
  alt="CIMG2883" style='position:absolute;left:204pt;top:270pt;width:186.75pt;
  height:249pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0017_image052.jpg" o:title="CIMG2883"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_9" src="slide0017_image053.gif" alt=CIMG2883
 style='position:absolute;top:50.0%;left:28.27%;width:26.02%;height:46.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s18437" type="#_x0000_m1031"
  alt="CIMG2879" style='position:absolute;left:30pt;top:90pt;width:168.75pt;
  height:225pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0017_image054.jpg" o:title="CIMG2879"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_8" src="slide0017_image055.gif" alt=CIMG2879
 style='position:absolute;top:16.75%;left:4.11%;width:23.4%;height:41.75%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s18438" type="#_x0000_m1031"
  alt="CIMG2882" style='position:absolute;left:402pt;top:114pt;width:282pt;
  height:211.5pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0017_image056.jpg" o:title="CIMG2882"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_11" src="slide0017_image057.gif"
 alt=CIMG2882 style='position:absolute;top:21.0%;left:55.8%;width:39.13%;
 height:39.25%'><![endif]></p:slide></div>

</body>

</html>
