<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description content="2/23/2017: Preparing the mast">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="20"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s20482" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAL7H
BPQmAwAAtAYAABAAAABkcnMvc2hhcGV4bWwueG1spFRLb+M2EL4X6H8geC2yTlxnkxiRF4mBtAWM
wIiy6LEYSZStNUWyJOU4+fX9hlS8SQ5F0fWBntG8v3lcfzn0WuyVD501hTz7dCqFMrVtOrMp5NfH
u5NLKUIk05C2RhXyWQX5ZfHzT9duHpyAsQlzV8htjG4+mYR6q3oKn6xTBrLW+p4iWL+ZOK+CMpEi
AvV6Mj09/TzpqTNyAVdmX7q1Z6q+36+96JpCzi4vZ+dTKQz1iPugamSx0UrM5GRUzDaERFa23oUx
G/ov2TSenlDiu0SEsb951HKGmHa5RTR147192ipqAn9G3EnK8DVZg1w5F7cV8dkhy9hFrQDYSyH/
HshH5SVqOaCY6dXs6vPF9Op89JJN4e576QEQpNLi4dY2z4trmlf4BxwZ5v9fGPobgYr1L1I8eUKN
gdNDpvoPg9KuzmYzND4mZnZ+MQXj30qqtxIz9EurE05kangtZB1RaGaWETzsa9s7iitTuppVuRrn
Q3w8/EneCSYBlzrEe1tuyamkQPtViIzyW93EZiDYiQ6xjM+Ygx8EBWEQ5Ue9JCfoUE9+lcoG8ZAI
vQdEwKEzDcY+kaQ32LGEVaPaR6pKzEnCnvGOWV/Rytz6XYK3tSbeJKOKAncL22NGMUx4RDHE68HU
CJAx1gw4ZxVcva6j2BN36pR/afIA4BuNW9V+1H1Vg/136U0b/0VvlFbDUvvHQwK2GsqXI3mHMo7M
Pc5IUolU5W7THGg8pNnnxvNK0Tw/QHY39F1vv3UZVFRcSGVOvpZ5yzC3AKLKSKd3KKRBCL5avtth
J40tEyXFTnngD/2aV2DU4vHEJ8OnSncv6vfEMt6644OXZGtvbZvo0MelVpT8cJ7a8GvsXad1ntz8
JVjdNfwx4cZnUQGd3I54mI69eKel2hZHDpiwiR1wPMpt8yQqPfgHagr56yX6KEXT8eocGWzb9CL3
V+QBizotU/Cb6hgyKby29ug7rda7sMPKjJ0aOPmRTnOXTlxLNTD5pf92oiPXQHNFHwSKsqAOHwR1
GKv2ucVxIf4af0wkhlcf9ePFAPA04HXz14MIMrjFPwAAAP//AwBQSwMEFAAGAAgAAAAhAD8QuGTc
AAAA/gAAAA8AAABkcnMvZG93bnJldi54bWxEj01Lw0AURfdC/8PwCu7sxFIlxk5LlfgBVmhSF7p7
Zl6T0MybMDO26b93cGGXl3s5lzNfDqYTB3K+tazgepKAIK6sbrlW8LF9ukpB+ICssbNMCk7kYbkY
Xcwx0/bIBR3KUIsIYZ+hgiaEPpPSVw0Z9BPbE8duZ53BEKOrpXZ4jHDTyWmS3EqDLceHBnt6bKja
lz9Gwd3D837bma9hldf6fV2GvHircqUux8PqHkSgIZzHcvPJfvNf/qFetYJZms5upiB2L6dv1+oC
fSCnIApG3agKcvELAAD//wMAUEsBAi0AFAAGAAgAAAAhAFrjEWb+AAAA4gEAABMAAAAAAAAAAAAA
AAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYACAAAACEAMd1fYdIAAACPAQAACwAA
AAAAAAAAAAAAAAAvAQAAX3JlbHMvLnJlbHNQSwECLQAUAAYACAAAACEAvscE9CYDAAC0BgAAEAAA
AAAAAAAAAAAAAAAqAgAAZHJzL3NoYXBleG1sLnhtbFBLAQItABQABgAIAAAAIQA/ELhk3AAAAP4A
AAAPAAAAAAAAAAAAAAAAAH4FAABkcnMvZG93bnJldi54bWxQSwUGAAAAAAQABAD1AAAAhwYAAAAA
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="f"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1" size="quarter"/></v:shape>
 <div v:shape="_x0000_s20482" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:7.25%;left:5.99%;width:88.2%;height:9.25%'><span
 style='text-shadow:auto'>Preparing the mast</span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s20483"
  type="#_x0000_m1031" alt="CIMG2885" style='position:absolute;left:84pt;top:96pt;
  width:228pt;height:171pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0019_image062.jpg" o:title="CIMG2885"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_9" src="slide0019_image063.gif" alt=CIMG2885
 style='position:absolute;top:17.75%;left:11.61%;width:31.64%;height:31.75%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s20484" type="#_x0000_m1031"
  alt="CIMG2892" style='position:absolute;left:84pt;top:4in;width:228pt;
  height:171pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0019_image064.jpg" o:title="CIMG2892"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_10" src="slide0019_image065.gif"
 alt=CIMG2892 style='position:absolute;top:53.25%;left:11.61%;width:31.64%;
 height:31.75%'><![endif]><p:shaperange href="master58.xml#_x0000_m1031"/><v:shape
  id="_x0000_s20485" type="#_x0000_m1031" alt="CIMG2893" style='position:absolute;
  left:396pt;top:102pt;width:228pt;height:171pt;visibility:visible;
  mso-wrap-style:square' o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0019_image066.jpg" o:title="CIMG2893"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_11" src="slide0019_image067.gif"
 alt=CIMG2893 style='position:absolute;top:19.0%;left:55.05%;width:31.64%;
 height:31.75%'><![endif]><p:shaperange href="master58.xml#_x0000_m1031"/><v:shape
  id="_x0000_s20486" type="#_x0000_m1031" alt="CIMG2894" style='position:absolute;
  left:402pt;top:4in;width:228pt;height:171pt;visibility:visible;
  mso-wrap-style:square' o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0019_image068.jpg" o:title="CIMG2894"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_12" src="slide0019_image069.gif"
 alt=CIMG2894 style='position:absolute;top:53.25%;left:55.8%;width:31.64%;
 height:31.75%'><![endif]><v:shapetype id="_x0000_t202" coordsize="21600,21600"
  o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s20487" type="#_x0000_t202" style='position:absolute;
  left:168pt;top:480pt;width:418.875pt;height:36.375pt;visibility:visible;
  mso-wrap-style:none;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-rotate-with-shape:t;mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s20487">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:89.75%;left:24.34%;width:67.22%;height:5.25%'><span style='font-size:133%'>A
 hole had to be drilled for a rotor pin.</span></div>
 </div>
</p:slide></div>

</body>

</html>
