<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description
content="2/23/2017: First a cross piece that will hold the beams is attached loosely to the mast.">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="28"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s28674" type="#_x0000_m1030"
  style='position:absolute;left:42pt;top:0;width:9in;height:126pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAD76
+lxPAwAAYAcAABAAAABkcnMvc2hhcGV4bWwueG1spFTfb9s4DH4fcP+DoNdDl9RNf8SoM6wFug0I
iqDOcI8HWpYTL7Kkk+Q06V9/pORkaR8OhzYBZFKkRPL7RN5+2XWKbaXzrdEFP/885kxqYepWrwr+
c/lwdsOZD6BrUEbLgu+l519mf3y6tbm3DA9rn9uCr0Ow+WjkxVp24D8bKzXaGuM6CKi61cg66aUO
EDBQp0bZeHw16qDVfIZX6W1pF44k8bhdONbWBc8409BhyGUblGTnfDTYkytg/LkRGz8kAf8nidrB
M1b2Kj7T5pvDEmKAUczgkIzGXCioXbOwt5hKoFQ4prcr+CSbTqZX19n0kjLDg8k7CocLfKwK8l3j
uo/mObuF3DQNw9CXFxeTMTK1L/iYgkMud4EJtNxk2fSKTAJt5yghzjG9lEPMMyVl87C7M/WeTlf4
RdQTm+8HEp9RQBaMe+Hs2QFi6v/pwSFg6of2BZ+eTyaYWojK5PI6Q8WdWqpTi+67e6OIFwZa4K0F
F8EdlPuAOtVpOgthrksryJWqsc6H5e4vcJaRiKwhOo+mXIOV0QG2cx+Is1PfqCYg6BLlQxn2+O4+
CEpk59Ao74Y2loUMdeDmsWwUnqKgtggR4tDqGrsriqBW2MoRq1o2S6jKlwF7wjskfwlzfec2Ed7G
6PA1HqrAE1vYpHow45E16BU2zaLXAgMkjBUBTll5KxYisC0QU2P6Dc/t1ONONm99D254/rf1axP+
w2+wVv29cstdBLbqy5ej+IBlHJVHnFbRJUCV2IYc0XhauIF46mzI04LIbvqu7cyvNoGKFRdc6rOf
JU4/RC+7oZ6qEtJx7QuuMQQNR9ducDRoU0aJs410iD/6C2qBwYueJ25pmoiqfZHfo0p4q5bmarQt
nDFNlOvWhdjdzHfhXkmIN1LGStOqzUOrVCol7Xij2po2I4I0hyXilIgJu2xg5ZWXbBopAqJDR0wf
pCvX9TOrVO+eoC74xQ0yylndUhMdFey77DoxzdJTCyq2lXer6hgyOhxIPt4dm+xV2H6uB856Sn6Q
4wuMM7cBgej82f06U4FqwFEHbwwSkkH4Nwbhh6pdIjvM2N/4Y/hP3+M67EcjOQyGJAy7J3vJneYH
QocrviKaJbj+nqooejv7FwAA//8DAFBLAwQUAAYACAAAACEAOMxpctYAAAD5AAAADwAAAGRycy9k
b3ducmV2LnhtbESPwU7DMBBE70j8g7VIXBB1qApEoW4FCFSuLUgVt228jQ3xOthuk/w9Vg9wHM3o
jd58ObhWHClE61nBzaQAQVx7bblR8PH+el2CiAlZY+uZFIwUYbk4P5tjpX3PazpuUiMyhGOFCkxK
XSVlrA05jBPfEedu74PDlGNopA7YZ7hr5bQo7qRDy/nBYEfPhurvzcEpuJ01Pwe7K3V//zV+llt5
1b4YUuryYnh8AJFoSP/j2TY8Fau/8oR60wqmIParcResXmNMFBRkt2yaLUEufgEAAP//AwBQSwEC
LQAUAAYACAAAACEAWuMRZv4AAADiAQAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNd
LnhtbFBLAQItABQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAAAAAAAAAAAAAAC8BAABfcmVscy8u
cmVsc1BLAQItABQABgAIAAAAIQA++vpcTwMAAGAHAAAQAAAAAAAAAAAAAAAAACoCAABkcnMvc2hh
cGV4bWwueG1sUEsBAi0AFAAGAAgAAAAhADjMaXLWAAAA+QAAAA8AAAAAAAAAAAAAAAAApwUAAGRy
cy9kb3ducmV2LnhtbFBLBQYAAAAABAAEAPUAAACqBgAAAAA=
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s28674" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:5.75%;left:4.49%;width:92.88%;
 height:6.0%'><span style='font-size:64%;text-shadow:auto'>First a cross piece
 that will hold the beams is </span></span><span style='position:absolute;
 top:12.0%;left:6.92%;width:88.2%;height:6.0%'><span style='font-size:64%;
 text-shadow:auto'>attached loosely to the mast.</span></span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s28675"
  type="#_x0000_m1031" alt="CIMG3023.jpg" style='position:absolute;left:42pt;
  top:2in;width:265.5pt;height:354pt;visibility:visible;mso-wrap-style:square'
  o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
  stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0027_image102.jpg" o:title="CIMG3023"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_4"
 src="slide0027_image103.gif" alt=CIMG3023.jpg style='position:absolute;
 top:26.75%;left:5.8%;width:36.89%;height:65.5%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s28676" type="#_x0000_m1031"
  alt="CIMG3024.jpg" style='position:absolute;left:348pt;top:192pt;width:318pt;
  height:238.5pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0027_image104.jpg" o:title="CIMG3024"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_5"
 src="slide0027_image105.gif" alt=CIMG3024.jpg style='position:absolute;
 top:35.5%;left:48.31%;width:44.19%;height:44.25%'><![endif]></p:slide></div>

</body>

</html>
