<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description content="2/23/2017: Tower Base is Done!">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="14"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s14338" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhALha
QJgiAwAAqAYAABAAAABkcnMvc2hhcGV4bWwueG1spFTbbtswDH0fsH8Q9Dp0abP0FtQZ2gDdBgRF
UHfY40DbcuJFljxJTtN+/Q4lN2v7MAxbgMikSIrk4eXi467VYqucb6zJ5NH7QymUKW3VmFUmv95d
H5xJ4QOZirQ1KpMPysuPs7dvLrqp7wSMjZ92mVyH0E1HI1+uVUv+ve2Ugay2rqUA1q1GnVNemUAB
jlo9Gh8enoxaaoyc4SmzzbulY6q82S6daKpMTo6PT87GUhhq4fdWlYhipZUYy9GgmGwIgSxsufFD
NPQ30VSO7pHii0CEsZ8ccjmCTztfw5u6dM7erxVVnq/hdxQjfArWIFaOpVuL8NAhytAErSTC3yH+
8fnk/OR0fH48GCZtvPA7W4+sYzZhd2Wrh9kFTQt8gUBC9t9zQUkDgLDuUYp7R0jL/+zJITj9xSCb
86PJBLUOkZkcn47BuOeS4rnE9O3c6ggNmRKvZrIMTorEzAN42Je27SgsTN6VrMrZdM6Hu903cp1g
EgipXbix+Zo6FRVou/CBgX2uG9kEBD+ifcjDA0r/n6DADbz87yvxEVSoJbeIaYO4jYTeAiLg0JgK
nR5J0iuMVcSqUvUdFfnjgD3jHZK+ooW5cpsIb21NuIxGBXmuFgbGDGKYcFeib5e9KeEgYawZcI7K
d+WyDGJLXKlD/sXOA4DPNK5U/Vr3SQ32v6WXdfiD3iAt+rl2d7sIbNHnj3vyGmnsmRtsjqgSqEjV
pinQuI29z4XnKaJpOoDspm+b1v5oEqjIOJPKHHzNsYmAHvoWQBQJ6Xj2mTRwwYvKNRuMobF5pKTY
KAf8oV/yCAxa3J64MryddPOoPkeW8dYN77goWzpr60j7Nsy1ovgOx6kNn8ZeN1qnzk033uqm4suI
G29CBXRSOcIuri0k+0JL1TX2GjBhE9sH5fJ1dS8K3btbqjL54Qx1lKJqeHT2DKZtfJrqK1KDBR2H
ybtVsXcZFZ5Ku387jtYLt/3CDJXqOfiBjn0Xt1pNJTB51/440IH7iaaKXgkUJUHpXwlKP3SgSyUO
M/EdP8En/unLsw8AcKIDuB1wdtOnjQjSd7NfAAAA//8DAFBLAwQUAAYACAAAACEAiumGuNwAAAD+
AAAADwAAAGRycy9kb3ducmV2LnhtbESPTU/CQBRF9yT+h8kzcQdTUEipDARJVRJl0WJM3D06j7Zh
PpqZEcq/d+JClzf35tycxarXip3J+dYaAeNRAoxMZWVragEf++dhCswHNBKVNSTgSh5Wy5vBAjNp
L6agcxlqFiHGZyigCaHLOPdVQxr9yHZkYne0TmOI0dVcOrxEuFZ8kiQzrrE18aHBjjYNVafyWwuY
P72c9kp/9eu8lrv3MuTFW5ULcXfbrx+BBerD//gzVfcb/1f+orZSwMN0OksnwI6v14NrZYE+kBMQ
BaNuVAW+/AEAAP//AwBQSwECLQAUAAYACAAAACEAWuMRZv4AAADiAQAAEwAAAAAAAAAAAAAAAAAA
AAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQItABQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAAAAA
AAAAAAAAAC8BAABfcmVscy8ucmVsc1BLAQItABQABgAIAAAAIQC4WkCYIgMAAKgGAAAQAAAAAAAA
AAAAAAAAACoCAABkcnMvc2hhcGV4bWwueG1sUEsBAi0AFAAGAAgAAAAhAIrphrjcAAAA/gAAAA8A
AAAAAAAAAAAAAAAAegUAAGRycy9kb3ducmV2LnhtbFBLBQYAAAAABAAEAPUAAACDBgAAAAA=
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="f"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s14338" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:7.25%;left:5.99%;width:88.2%;height:9.25%'><span
 style='text-shadow:auto'>Tower Base is Done!</span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s14339"
  type="#_x0000_m1031" alt="CIMG2845" style='position:absolute;left:90pt;top:102pt;
  width:522pt;height:324pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0013_image036.jpg" o:title="CIMG2845"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_4" src="slide0013_image037.gif" alt=CIMG2845
 style='position:absolute;top:19.0%;left:12.54%;width:72.47%;height:60.0%'><![endif]><v:shapetype
  id="_x0000_t202" coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s14340" type="#_x0000_t202" style='position:absolute;
  left:1in;top:467.625pt;width:585.875pt;height:36.375pt;visibility:visible;
  mso-wrap-style:none;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-rotate-with-shape:t;mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s14340">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:87.5%;left:11.04%;width:94.56%;height:5.25%'><span style='font-size:133%'>Concrete
 cures for 10 days before the work resumes.</span></div>
 </div>
</p:slide></div>

</body>

</html>
