<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description
content="2/23/2017: They must be aligned to work properly">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="32"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s32770" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAEMo
X+UUAwAApAYAABAAAABkcnMvc2hhcGV4bWwueG1spFTbbtswDH0fsH8Q9Dq0abP0FtQZ1gLdBgRF
UKfYY0HbcuJFljSJTpN+/UjJydI+DMNWoAppUuLh4eX606bVYq18aKzJ5OnxiRTKlLZqzCKTj/O7
o0spAoKpQFujMrlVQX6avH937cbBCbpswthlconoxoNBKJeqhXBsnTJkq61vAUn1i4HzKiiDgBSo
1YPhycn5oIXGyAk9Zda5m3mWyvv1zIumyuRQCgMthZw3qJU4lYPenlyB4k9tuQo9CPgbEJWHZ8rs
VXxh7BdPKcQAg4hgB8YQFg7qlgK3jqAgQ5EEb5PJ0fBqdHV+Mbw6Y2R0MXlHYfdAoKwibNzc2Go7
uYZxQb+UYWLu30FTyZAytv5FimcPhD/87MATOP3NhExenY5GVEuMyujsYkiKP7QUhxbTtbdWMwcC
TEmvZrJEv1NukXS6X9rWAU5N7kp25WycDzjffAfvBIvEkNrgvc2X4FR0gPU0IPNz6BvVRAQ/ogPm
uKUa/ycpFIai/O8r8RGqUAt+GtMm4SEKek0UEQ+NqaiTowh6QWMTuapUPYcif+m5Z74x+SuYmhu/
ivTW1uDneKmAwNWigTC9ma4swSyoQWedKSlA4lgz4YwquHJWolgDV+qE/2LnEYEHHjeqfuu7c6P7
v62fa/yDX28tulvt55tIbNHlL3vxjtLYK/e0GaILQpGqDWNi4yH2PheepwjG6SBmV13btPZHk0il
jDOpzNFjTpuG2Pt4TnmJIjEdzy6ThkLwIvLNisbQ2DxKUqyUJ/7Jv+QR6L24PemT4e2jmxf1NarM
t254h0XbzFtbR7lqPG6jFFq81Qrii4xYGz6NvWu0Tj2cvgSrm4o/RgZ55yniKRUGN8O+Kq+8VF2r
EokdvmI7VD5fVs+i0J1/gIqyvqSKSlE1PER7heZueJEqLVKroY5jFfyi2IeMDrsi79+OQ/YqbDc1
fc06Bt/LsQPjfquhJHY+tD+ONHIOMFbwxqAgGcrwxlCGPmufio0T8fT0xP98xN8Dcac/8V4gSuik
7uBWodONd9uSxOAmvwAAAP//AwBQSwMEFAAGAAgAAAAhAH22Wz3WAAAA+QAAAA8AAABkcnMvZG93
bnJldi54bWxEj8tOwzAURPdI/IN1K7FB1KGiJQp1K4TCY9sWCbG7jW9jFz+C7TbJ32OxgOVoRmd0
luvBGnamELV3Am6nBTByjZfatQLed883JbCY0Ek03pGAkSKsV5cXS6yk792GztvUsgxxsUIBKqWu
4jw2iizGqe/I5e7gg8WUY2i5DNhnuDV8VhQLblG7/KCwoydFzdf2ZAXM79rvk96Xsr8/jp/lB782
tSIhribD4wOwREP6H9vavMzrv/IX9SYFzIAdXsd90HKDMVEQkN2yabYEvvoBAAD//wMAUEsBAi0A
FAAGAAgAAAAhAFrjEWb+AAAA4gEAABMAAAAAAAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54
bWxQSwECLQAUAAYACAAAACEAMd1fYdIAAACPAQAACwAAAAAAAAAAAAAAAAAvAQAAX3JlbHMvLnJl
bHNQSwECLQAUAAYACAAAACEAQyhf5RQDAACkBgAAEAAAAAAAAAAAAAAAAAAqAgAAZHJzL3NoYXBl
eG1sLnhtbFBLAQItABQABgAIAAAAIQB9tls91gAAAPkAAAAPAAAAAAAAAAAAAAAAAGwFAABkcnMv
ZG93bnJldi54bWxQSwUGAAAAAAQABAD1AAAAbwYAAAAA
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s32770" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:8.0%;left:-.93%;width:101.87%;height:7.75%'><span
 style='font-size:82%;text-shadow:auto'>They must be aligned to work properly</span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s32771"
  type="#_x0000_m1031" alt="CIMG3041.jpg" style='position:absolute;left:62.25pt;
  top:126pt;width:265.5pt;height:354pt;visibility:visible;mso-wrap-style:square'
  o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
  stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0031_image118.jpg" o:title="CIMG3041"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_4"
 src="slide0031_image119.gif" alt=CIMG3041.jpg style='position:absolute;
 top:23.25%;left:8.61%;width:36.89%;height:65.5%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s32772" type="#_x0000_m1031"
  alt="CIMG3042.jpg" style='position:absolute;left:392.25pt;top:126pt;width:265.5pt;
  height:354pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0031_image120.jpg" o:title="CIMG3042"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_5"
 src="slide0031_image121.gif" alt=CIMG3042.jpg style='position:absolute;
 top:23.25%;left:54.49%;width:36.89%;height:65.5%'><![endif]></p:slide></div>

</body>

</html>
