<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description content="2/23/2017: 1st beam heads up the tower">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="29"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s29698" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAJgZ
SCAxAwAAmgoAABAAAABkcnMvc2hhcGV4bWwueG1s7Fbdb9MwEH9H4n+w/IpGt1LYVi1FbNIAqZqq
pYjH6ZI4bahjG/vStfvrubPTsu0BIRBoD8uDe5c738fvPtKz95tWi7XyobEmk0evD6VQprRVYxaZ
/DK/PDiRIiCYCrQ1KpNbFeT7ycsXZ24cnKDLJoxdJpeIbjwYhHKpWgivrVOGZLX1LSCxfjFwXgVl
EJActXowPDx8N2ihMXJCpsw6dzPPVHm1nnnRVJkcSmGgJZfzBrUSR3LQy5MqkP+pLVehDwJ+J4jK
wy1l9sC/MPajpxSig0GMYBeMoVjYqVsK3DoKBTkUSeFtMjkano5O3x0PT99yZHQxaUdiZyBQVjFs
3Jzbajs5g3FBv5RhQu7Pg6aSIWVs/Z0Utx4o/vC9A0/B6c8mZPL0aDSiWmJkRm+Ph8T4+5LivsR0
7YXVjIEAU5LVTJbod8wFEk/3S9s6wKnJXcmqnI3zAeebr+CdYJIQUhu8svkSnIoKsJ4GZHzu60Y2
AcFGdMAct1TjvwSF3JCXv7USjVCFWvDTmDYR15HQa4KIcGhMRZ0cSdALGpuIVaXqORT5XY89441J
X8HUnPtVhLe2Bj/ESwUErhYNhOnFdGUJZkENOutMSQ4SxpoB56iCK2clijVwpQ75iZ1HAN7TOFf1
Y92dGt3/Kf1Q4y/0emnRXWg/30Rgiy6/25OXlMaeuaLNEFUQilRtGBMa17H3ufA8RTBOByG76tqm
td+aBCplnEllDr7ktGkIPepbAqJISMezy6QhF7yIfLOiMTQ2j5QUK+UJf9IveQR6LW5PemV4++jm
Tn2KLOOtG95hUTbz1taRrhqP20iFFi+0gmiRI9aGT2MvG61TD6c3weqm4pcRQd55inBKhcHNsK/K
Ay1V16pEQoev2A6Vz5fVrSh056+hyuSbE6qoFFXDQ7RnaO6Gx6nSIrUa6jhWwS+KvcuosCvy3nYc
sgduu6npa9Zx8D0dOzDutxpKQudV++1AI+cAYwWPBAqSoAyPBGXos/ap2DgRPPOULp1Pq/xv4uRQ
ezy3wD9ugZubp9oDzyvgv6yAG3oEH3wykZgHXcEfCNoSbrz7j0RkcJMfAAAA//8DAFBLAwQUAAYA
CAAAACEAOyGSkNcAAAD5AAAADwAAAGRycy9kb3ducmV2LnhtbESPwUoDMRRF94L/EJ7gRmzGonYY
mxYRpS7ctAqlu9fJ6yQ6eRmTtDPz9wYXurzcy7mc+XJwrThRiNazgptJAYK49tpyo+Dj/eW6BBET
ssbWMykYKcJycX42x0r7ntd02qRGZAjHChWYlLpKylgbchgnviPO3cEHhynH0EgdsM9w18ppUdxL
h5bzg8GOngzVX5ujU3B323wf7b7U/exz3JVbedU+G1Lq8mJ4fACRaEj/4xnL8m31V/6iXrWCKYjD
atwHq9cYEwUF2S2bZkuQix8AAAD//wMAUEsBAi0AFAAGAAgAAAAhAFrjEWb+AAAA4gEAABMAAAAA
AAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYACAAAACEAMd1fYdIAAACP
AQAACwAAAAAAAAAAAAAAAAAvAQAAX3JlbHMvLnJlbHNQSwECLQAUAAYACAAAACEAmBlIIDEDAACa
CgAAEAAAAAAAAAAAAAAAAAAqAgAAZHJzL3NoYXBleG1sLnhtbFBLAQItABQABgAIAAAAIQA7IZKQ
1wAAAPkAAAAPAAAAAAAAAAAAAAAAAIkFAABkcnMvZG93bnJldi54bWxQSwUGAAAAAAQABAD1AAAA
jQYAAAAA
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s29698" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:7.25%;left:3.55%;width:92.88%;height:9.25%'><span
 style='text-shadow:auto'>1</span><span style='font-size:66%;text-shadow:auto;
 position:relative;top:-.45em;mso-text-raise:30%'>st</span><span
 style='text-shadow:auto'><span style='mso-spacerun:yes'> </span>beam heads up
 the tower</span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s29699"
  type="#_x0000_m1031" alt="CIMG3026.jpg" style='position:absolute;left:48pt;
  top:120pt;width:265.5pt;height:354pt;visibility:visible;mso-wrap-style:square'
  o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
  stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0028_image106.jpg" o:title="CIMG3026"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_5"
 src="slide0028_image107.gif" alt=CIMG3026.jpg style='position:absolute;
 top:22.25%;left:6.74%;width:36.89%;height:65.5%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s29700" type="#_x0000_m1031"
  alt="CIMG3027.jpg" style='position:absolute;left:410.25pt;top:120pt;width:265.5pt;
  height:354pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0028_image108.jpg" o:title="CIMG3027"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_7"
 src="slide0028_image109.gif" alt=CIMG3027.jpg style='position:absolute;
 top:22.25%;left:56.92%;width:36.89%;height:65.5%'><![endif]></p:slide></div>

</body>

</html>
