<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description content="2/23/2017: 9 months later Murphy strikes!">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="24"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s24578" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAFIU
mEERAwAAnQYAABAAAABkcnMvc2hhcGV4bWwueG1spFRLb9swDL4P2H8QdB3atFn6CuoMbYFuA4Ii
qFPsONC2nHiRJU2i06S/fqTkZGkPw7D5IJMixcfHx/WnTavFWvnQWJPJ0+MTKZQpbdWYRSaf5vdH
l1IEBFOBtkZlcquC/DR5/+7ajYMT9NiEscvkEtGNB4NQLlUL4dg6ZUhWW98CEusXA+dVUAYByVGr
B8OTk/NBC42REzJl1rmbeabKh/XMi6bK5FAKAy25nDeolTiVg16eVIH8T225Cn0Q8DdBVB6eKbNX
/oWxnz2lEB0MYgS7YAzFwk7dUuDWUSjIoUgKb5PJ0fBqdHV+Mbw648joYdKOxM5AoKxi2Li5tdV2
cg3jgv6UYULu34OmkiFlbP2LFM8eKP7wswNPwemvJmTy6nQ0olpiZEZnF0Ni/KGkOJSYrr2zmjEQ
YEqymskS/Y65Q+LpfWlbBzg1uStZlbNxPuB88w28E0wSQmqDDzZfglNRAdbTgIzPoW5kExBsRAfM
cUs1/k9QyA15+V8r0QhVqAU/jWkT8RgJvSaICIfGVNTJkQS9oLGJWFWqnkORv/TYM96Y9BVMza1f
RXhra/AmPiogcLVoIEwvpidLMAtq0FlnSnKQMNYMOEcVXDkrUayBK3XCX+w8AvBA41bVb3V3avT+
t/Smxj/o9dKiu9N+vonAFl3+sifvKY0980CbIaogFKnaMCY0HmPvc+F5imCcDkJ21bVNa380CVTK
OJPKHD3ltGkIPepbAqJISMezy6QhF7yIfLOiMTQ2j5QUK+UJf9IveQR6LW5PujK8fXTzor5ElvHW
De+wKJt5a+tIV43HbaRCi3daQbTIEWvDp7H3jdaph9NNsLqp+DIiyDtPEU6pMLgZ9lV5paXqWpVI
6PAT26Hy+bJ6FoXu/CNUmfx4SRWVomp4iPYMzd3wIlVapFZDHccq+EWxdxkVdkXe245D9sptNzV9
zToOvqdjB8b9VkNJ6Hxofxxp5BxgrOCNQEESlOGNoAx91j4VGydCfI9f+vVcf/dd8EIgLOiktuAe
odONd2uSyOAmvwAAAP//AwBQSwMEFAAGAAgAAAAhALo8QuHWAAAA+QAAAA8AAABkcnMvZG93bnJl
di54bWxEj01PwzAQRO9I/Adrkbgg6lABjULdCvEhuLYgtdy28TY2xOtgu03y77E4wHE0ozd68+Xg
WnGkEK1nBVeTAgRx7bXlRsH72/NlCSImZI2tZ1IwUoTl4vRkjpX2Pa/ouE6NyBCOFSowKXWVlLE2
5DBOfEecu70PDlOOoZE6YJ/hrpXToriVDi3nB4MdPRiqv9YHp+Dmuvk+2F2p+9nn+FFu5EX7ZEip
87Ph/g5EoiH9jx+HcbY1f+Uv6lUrmILYv4y7YPUKY6KgILtl02wJcvEDAAD//wMAUEsBAi0AFAAG
AAgAAAAhAFrjEWb+AAAA4gEAABMAAAAAAAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQ
SwECLQAUAAYACAAAACEAMd1fYdIAAACPAQAACwAAAAAAAAAAAAAAAAAvAQAAX3JlbHMvLnJlbHNQ
SwECLQAUAAYACAAAACEAUhSYQREDAACdBgAAEAAAAAAAAAAAAAAAAAAqAgAAZHJzL3NoYXBleG1s
LnhtbFBLAQItABQABgAIAAAAIQC6PELh1gAAAPkAAAAPAAAAAAAAAAAAAAAAAGkFAABkcnMvZG93
bnJldi54bWxQSwUGAAAAAAQABAD1AAAAbAYAAAAA
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s24579" type="#_x0000_m1031"
  style='position:absolute;left:36pt;top:114pt;width:318pt;height:426pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:top'>
  <v:fill o:detectmouseclick="t"/>
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape>
 <div v:shape="_x0000_s24578" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:7.25%;left:.93%;width:98.5%;height:9.25%'><span
 style='text-shadow:auto'>9 months later Murphy strikes!</span></div>
 <div v:shape="_x0000_s24579" class=HB>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:22.0%;left:5.99%;width:42.32%;height:5.25%'><span
 style='mso-special-format:nobullet;display:none;color:#C6CCD4;mso-color-index:
 3'></span><span style='font-size:86%'>The Diamond vertical is </span></span><span
 style='position:absolute;top:27.5%;left:9.73%;width:43.63%;height:5.25%'><span
 style='font-size:86%'>damaged, and 4 ft broke </span></span><span
 style='position:absolute;top:32.75%;left:9.73%;width:38.57%;height:5.25%'><span
 style='font-size:86%'>off and now does not </span></span><span
 style='position:absolute;top:38.0%;left:9.73%;width:38.57%;height:5.25%'><span
 style='font-size:86%'>work. &#13;</span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:44.5%;left:5.99%;width:42.32%;height:5.25%'><span style='mso-special-format:
 nobullet;display:none;color:#C6CCD4;mso-color-index:3'></span><span
 style='font-size:86%;display:none'>&#13;</span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:50.75%;left:5.99%;width:45.88%;height:5.25%'><span
 style='mso-special-format:nobullet;display:none;color:#C6CCD4;mso-color-index:
 3'></span><span style='font-size:86%'>Examining the two ends it </span></span><span
 style='position:absolute;top:56.25%;left:9.73%;width:42.69%;height:5.25%'><span
 style='font-size:86%'>seems likely a bird hit it!&#13;</span></span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:62.5%;left:5.99%;width:42.32%;height:5.25%'><span style='mso-special-format:
 nobullet;display:none;color:#C6CCD4;mso-color-index:3'></span><span
 style='font-size:86%;display:none'>&#13;</span></div>
 <div style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span style='position:
 absolute;top:69.0%;left:5.99%;width:44.19%;height:5.25%'><span
 style='mso-special-format:nobullet;display:none;color:#C6CCD4;mso-color-index:
 3'></span><span style='font-size:86%'>Good news is the beams </span></span><span
 style='position:absolute;top:74.25%;left:9.73%;width:41.19%;height:5.25%'><span
 style='font-size:86%'>have yet to be installed </span></span><span
 style='position:absolute;top:79.5%;left:9.73%;width:38.57%;height:5.25%'><span
 style='font-size:86%'>and dont have to be </span></span><span
 style='position:absolute;top:85.0%;left:9.73%;width:42.69%;height:5.25%'><span
 style='font-size:86%'>taken down to replace a </span></span><span
 style='position:absolute;top:90.25%;left:9.73%;width:38.57%;height:5.25%'><span
 style='font-size:86%'>vertical.</span></span></div>
 </div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s24580"
  type="#_x0000_m1031" alt="CIMG3061.JPG" style='position:absolute;left:366pt;
  top:183.75pt;width:318pt;height:238.5pt;visibility:visible;mso-wrap-style:square'
  o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
  stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0023_image088.jpg" o:title="CIMG3061"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_4"
 src="slide0023_image089.gif" alt=CIMG3061.JPG style='position:absolute;
 top:34.0%;left:50.74%;width:44.19%;height:44.25%'><![endif]></p:slide></div>

</body>

</html>
