<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description
content="2/23/2017: Safety, safety, &amp; safety Tim WB9NJS, putting on his climbing harness to go up">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="21"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s21506" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAMHd
ljVNAwAA6ggAABAAAABkcnMvc2hhcGV4bWwueG1s7FXBbts4EL0X2H8geF2kTrROExuRi8RA2gJG
YEQp9lhQEmWrpkguSTl2vr5vSNlNclh0t6cCFQxyyBlyZt48jq/e7zrFttL51uicn7095UzqytSt
XuX888PtySVnPghdC2W0zPleev5+9sebKzv1luGw9lOb83UIdjoa+WotO+HfGis1dI1xnQhYutXI
OumlDiLAUadG2enpu1EnWs1nuEpvC7t0JFV326VjbZ3z8eTsPMs406KD33tZIYqVkizjo8EwnREI
ZGGqjR+iET8STe3EI1J8EQjT5oNDLmfwaeZreJPXzpnHtRS1p234HcUID8FqxEqx2DULe4soQxuU
5Ah/h/izyXjy7iKbnA8HkzVu+J6tR9Yxm7C7MfV+diWmJWYgkJD9/7mgpAFAGPfE2aMTSMv/0wuH
4NQnjWwmZ+Mxah3iYnx+kWHhnmvK5xrdd3OjIjRCV7g151VwnKXFPGCN85XprAgLXdiKTCkb63x4
2P0tnGUkAiG5C3emWAsro4HYLnwgYJ/bxmUCgi5RPhRhj9L/JChwAy8/e0u8BBXqhFvEtCHcR0Ft
ARFwaHUNpkdRqBWeVcSqls2DKIunAXvCOyR7KRb6xm0ivI3R4ToeKoWnauHB6EGNI8RK8HbZ6woO
EsaKAKeovK2WVWBbQZU6pS8yDwA+s7iRzWvbgxnOf9deN+Ff7AZt2c+Ve9hFYMu+eDqKt0jjuLhD
54gmQZSp2mIKNO4j96nw9IrENA1AdtN3bWe+tglUZJxzqU8+F+hEQG9MebEyIR3HPucaLqhRuXaD
Z6hNESXONtIBf9hX9AQGK6IntjR1J9U+yY9xSXirlnpc1C2dMU2U69aFfZR8F+ZKingjRaw0jdrc
tkolDqcdb1Rb02ZEkHqiBE6pMGEXGxjSfmElmwYdDujQEdMH6Yp1/chK1bt7Uef8r0tUlLO6pUd0
XODdZRep0ixRLaj4rLxblUeX0eBQ5OPd8ZG9cNsv9FCznoIf5MjA2N8aUQGdP7uvJyoQs8RUilcK
KZKi8q8UlR+46FKxw4x9oY+lCfNRol4AGDD+F1pk4MVvWiSO/OK0IC7ELzIEHIk/mtJ3ENI+xheM
oYYC9tjp4T8VorezbwAAAP//AwBQSwMEFAAGAAgAAAAhABAxPOzcAAAA/gAAAA8AAABkcnMvZG93
bnJldi54bWxEj01PwzAQRO9I/AdrkbhRpxEgGupWBYWCBByS9lBuS7z5UGM72Eub/nssDnAczeiN
3nw5ml4cyIfOWQXTSQKCbOV0ZxsF283T1R2IwGg19s6SghMFWC7Oz+aYaXe0BR1KbkSE2JChgpZ5
yKQMVUsGw8QNZGNXO2+QY/SN1B6PEW56mSbJrTTY2fjQ4kCPLVX78tsomD2s95vefIyrvNHvbyXn
xWuVK3V5Ma7uQTCN/D9e1/prJ//KX9SLVnA9m96kKYj6+fTpO11gYPIKomDUjaogFz8AAAD//wMA
UEsBAi0AFAAGAAgAAAAhAFrjEWb+AAAA4gEAABMAAAAAAAAAAAAAAAAAAAAAAFtDb250ZW50X1R5
cGVzXS54bWxQSwECLQAUAAYACAAAACEAMd1fYdIAAACPAQAACwAAAAAAAAAAAAAAAAAvAQAAX3Jl
bHMvLnJlbHNQSwECLQAUAAYACAAAACEAwd2WNU0DAADqCAAAEAAAAAAAAAAAAAAAAAAqAgAAZHJz
L3NoYXBleG1sLnhtbFBLAQItABQABgAIAAAAIQAQMTzs3AAAAP4AAAAPAAAAAAAAAAAAAAAAAKUF
AABkcnMvZG93bnJldi54bWxQSwUGAAAAAAQABAD1AAAArgYAAAAA
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="f"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s21506" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:5.0%;left:5.99%;width:88.2%;height:8.5%'><span
 style='font-size:91%;text-shadow:auto'>Safety, safety, &amp; safety<br>
  </span></span><span style='position:absolute;top:13.75%;left:1.68%;
 width:97.0%;height:5.25%'><span style='font-size:55%;text-shadow:auto'>Tim
 WB9NJS, putting on his climbing harness to go up</span></span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s21507"
  type="#_x0000_m1031" alt="CIMG2895" style='position:absolute;left:42pt;top:150pt;
  width:279pt;height:372pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0020_image070.jpg" o:title="CIMG2895"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_7" src="slide0020_image071.gif" alt=CIMG2895
 style='position:absolute;top:27.75%;left:5.8%;width:38.76%;height:69.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s21508" type="#_x0000_m1031"
  alt="CIMG2897" style='position:absolute;left:342pt;top:246pt;width:159.75pt;
  height:213pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0020_image072.jpg" o:title="CIMG2897"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_9" src="slide0020_image073.gif" alt=CIMG2897
 style='position:absolute;top:45.5%;left:47.56%;width:22.09%;height:39.5%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s21509" type="#_x0000_m1031"
  alt="CIMG2898" style='position:absolute;left:522pt;top:2in;width:173.25pt;
  height:231pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0020_image074.jpg" o:title="CIMG2898"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_11" src="slide0020_image075.gif"
 alt=CIMG2898 style='position:absolute;top:26.75%;left:72.47%;width:23.97%;
 height:42.75%'><![endif]></p:slide></div>

</body>

</html>
