<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description content="2/23/2017: Base Preparation">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="12"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s12290" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhANrT
TfohAwAApQYAABAAAABkcnMvc2hhcGV4bWwueG1spFRLb9s4EL4vsP+B4LVInbhOExuRi8RAdhcw
AiNK0GMwkihbNUVqScpx8uv7Dak4j8Ni0fpAz2je3zwuvu1bLXbK+caaTJ58PpZCmdJWjVln8v7u
+uhcCh/IVKStUZl8Ul5+m//5x0U3852AsfGzLpObELrZaOTLjWrJf7adMpDV1rUUwLr1qHPKKxMo
IFCrR+Pj46+jlhoj53Bldnm3ckyVN7uVE02VyclkevoF0Q21iHurSmSx1kqM5WhQTDaERJa23Poh
G/o/2VSOHlHiu0SEsX851HKCmHaxQTR16Zx93CiqPH9G3FHM8CVZg1w5l24jwlOHLEMTtJJIf4/8
x9PJ9OvZeHo6GCZteHit1qPqWE3YX9nqaX5BswL/QCAh++u1oKUBQFj3LMWjI5Tl/+3JITn9j0E1
05PJBL0OkZmcno3BuLeS4q3E9O3C6ggNmRJeM1kGJ0ViFgE87EvbdhSWJu9KVuVqOufD3f47uU4w
CYTUPtzYfEOdigq0W/rAwL7VjWwCgp1oH/LwhNb/JigIgyi/6yU6QYdacstYNojbSOgdIAIOjakw
6ZEkvcZaRawqVd9RkT8P2DPeIekrWport43w1taEy2hUkOduYWHMIIYJTyXmdtWbEgESxpoB56x8
V67KIHbEnTrmX5w8APhG40rVH3Vf1GD/Kr2sw3/oDdKiX2h3t4/AFn3+fCCvUcaBucHliCqBitRt
mgGN2zj73HjeIpqlB8hu+7Zp7Y8mgYqKM6nM0X2OSwT0MLcAokhIx7fPpEEIPlSu2WINjc0jJcVW
OeAP/ZJXYNDi8cQnw9dJN8/q78gy3rrhGxdlK2dtHWnfhoVWFP1wntrwa+x1o3Wa3PTFW91U/DHi
xpdQAZ3UjrCPZwvFvtNSdY27BkzYxPZBuXxTPYpC9+6Wqkx+OUcfpagaXp0Dg20bn6X+ijRgQcdl
8m5dHEJGhZfWHnzH1XoXtl+aoVM9Jz/Qce7iVaupBCaf2h9HOvA80UzRB4GiJCj9B0Hphwl0qcVh
Lh4eHgQ/w48XH9XjRft5FvB2s5dzCNJ3858AAAD//wMAUEsDBBQABgAIAAAAIQANsO5d3gAAAP4A
AAAPAAAAZHJzL2Rvd25yZXYueG1sRI/LTsMwEEX3SPyDNUhsqtYBCqKhblVQeEhQpKRdwG6Ip0nU
2I7soUn/HosFLEd3dO498+VgWnEgHxpnFVxMEhBkS6cbWynYbh7HtyACo9XYOksKjhRguTg9mWOq
XW9zOhRciQixIUUFNXOXShnKmgyGievIxmznvEGOp6+k9thHuGnlZZLcSIONjQ01dvRQU7kvvo2C
2f3TftOaz2GVVXr9VnCWv5aZUudnw+oOBNPA/8/vo23/MfoLf1EvWsF0Oru+iut3z8cv3+gcA5NX
EAWjblQFufgBAAD//wMAUEsBAi0AFAAGAAgAAAAhAFrjEWb+AAAA4gEAABMAAAAAAAAAAAAAAAAA
AAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYACAAAACEAMd1fYdIAAACPAQAACwAAAAAA
AAAAAAAAAAAvAQAAX3JlbHMvLnJlbHNQSwECLQAUAAYACAAAACEA2tNN+iEDAAClBgAAEAAAAAAA
AAAAAAAAAAAqAgAAZHJzL3NoYXBleG1sLnhtbFBLAQItABQABgAIAAAAIQANsO5d3gAAAP4AAAAP
AAAAAAAAAAAAAAAAAHkFAABkcnMvZG93bnJldi54bWxQSwUGAAAAAAQABAD1AAAAhAYAAAAA
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="f"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s12290" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:7.25%;left:5.99%;width:88.2%;height:9.25%'><span
 style='text-shadow:auto'>Base Preparation</span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s12291"
  type="#_x0000_m1031" alt="CIMG2824" style='position:absolute;left:0;top:252pt;
  width:354pt;height:265.5pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0011_image029.jpg" o:title="CIMG2824"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_4" src="slide0011_image030.gif" alt=CIMG2824
 style='position:absolute;top:46.75%;left:0%;width:49.25%;height:49.25%'><![endif]><v:shapetype
  id="_x0000_t202" coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s12292" type="#_x0000_t202" style='position:absolute;
  left:36pt;top:108pt;width:9in;height:103.25pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-rotate-with-shape:t;mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s12292">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='mso-line-spacing:"100 50 0";mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:21.0%;left:5.99%;width:103.37%;
 height:4.5%'><span style='font-size:111%'>The base was modified by Jonathan
 KK6RPX; he ground off the spike </span></span><span style='position:absolute;
 top:25.25%;left:5.99%;width:105.24%;height:4.5%'><span style='font-size:111%'>for
 pounding it into the ground and drilled holes to<span
 style='mso-spacerun:yes'>  </span>accommodate the J-</span></span><span
 style='position:absolute;top:29.75%;left:5.99%;width:103.74%;height:4.5%'><span
 style='font-size:111%'>bolts. We attached rebar to the J-bolts to lengthen
 them for better grip. </span></span><span style='position:absolute;top:34.25%;
 left:5.99%;width:105.61%;height:4.5%'><span style='font-size:111%'>We attached
 the base to plywood to be able to<span style='mso-spacerun:yes'> 
 </span>position in the concrete.</span></span></div>
 </div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s12293"
  type="#_x0000_m1031" alt="CIMG2825" style='position:absolute;left:378pt;
  top:252pt;width:324pt;height:270pt;visibility:visible;mso-wrap-style:square'
  o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
  stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0011_image031.jpg" o:title="CIMG2825"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_13" src="slide0011_image032.gif"
 alt=CIMG2825 style='position:absolute;top:46.75%;left:52.43%;width:44.94%;
 height:50.0%'><![endif]></p:slide></div>

</body>

</html>
