<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description
content="2/23/2017: Tower sections were delivered by George K7WWA and Tim WB9NJS. Some of our other parts started to arrive too.">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="8"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s8194" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAMeQ
o0I4AwAAAQcAABAAAABkcnMvc2hhcGV4bWwueG1spFRLb9s4EL4X2P9A8LpInXjdpjEiF4mBtAWM
wIhS7HExkihbNUVyScpx8uv3G1JxkxwWi60O1AxnOI9vHpefD70We+VDZ00hz96fSqFMbZvObAr5
/f7m5JMUIZJpSFujCvmogvy8+O3dpZsHJ/DYhLkr5DZGN59MQr1VPYX31ikDWWt9TxGs30ycV0GZ
SBGOej2Znp5+nPTUGbmAKbMv3dozVd/u1150TSFn09nFx6kUhnr4vVM1othoJaZyMirmN4RAVrbe
hTEa+i/RNJ4ekOKrQISxXzxyOYNPu9zCm7ry3j5sFTWBr+F3kiJ8DtYgVo7FbUV8dIgydlErifAP
HP8FEjifXnwYH2ZtWPiZbUDWKZt4uLbN4+KS5hX+QCAj+/9zQUkjgLD+SYoHT0gr/D2QR3D6m0E2
F2ezGWodEzP7cD4F419KqpcSM/RLqxM0ZGpYLWQdvRSZWUbweF/b3lFcmdLVrMrZOB/i/eFP8k4w
CYTUId7acktOJQXar0JkYF/qJjYDwUZ0iGV8ROl/ERS4gZdftZKMoEI9+VVKG8RdIvQeEAGHzjTo
9ESS3mCsElaNau+pKp9G7BnvmPUVrcy13yV4W2viVXpUUeBqYWDMKMYT7kr07XowNRxkjDUDzlEF
V6/rKPbElTrlL3UeAHyhca3at7rPanj/U3rVxn/RG6XVsNT+/pCArYby6UjeII0jc4vNkVQiVbna
NAcad6n3ufA8RTTPB5DdDX3X2x9dBhUZF1KZk+8lNhHQm86Ql6gy0ukcCmnggheV73YYQ2PLREmx
Ux74Q7/mERi1uD1xZXg76e5JfU0s46073nFJtvbWtokOfVxqRckOx6kNn8bedFrnzs03wequ4cuE
G29CBXRyOeIhrS0k+0pLtS32GjDhJ3aIypfb5kFUevB31BTyj0+ooxRNx6NzZDBt0/NcX5EbLOo0
TMFvqqPLpPBc2qPtNFqv3A4rM1Zq4OBHOvVd2mot1cDk9/7HiY7cTzRX9EagKAvq8EZQh7EDfS5x
XIi/8KXjSBw5vheZE/lj3XQ58ixk/miDqcyP/3yRNXipAFmcaC3uM5xu/rxqQQa3+AcAAP//AwBQ
SwMEFAAGAAgAAAAhALaSW/ncAAAA/gAAAA8AAABkcnMvZG93bnJldi54bWxEj01Lw0AURfeC/2F4
gjs7MZRiY6claqqCCiZ14+6ZefmgmTdhZmzTf+/gQpeXezmXs9pMZhAHcr63rOB6loAgrq3uuVXw
sdte3YDwAVnjYJkUnMjDZn1+tsJM2yOXdKhCKyKEfYYKuhDGTEpfd2TQz+xIHLvGOoMhRtdK7fAY
4WaQaZIspMGe40OHI913VO+rb6Ngefe43w3mc8qLVr+9VqEoX+pCqcuLKb8FEWgK/+OH97LZ5n/l
L+pZK5in8+UiBdE8nb5cr0v0gZyCKBh1oyrI9Q8AAAD//wMAUEsBAi0AFAAGAAgAAAAhAFrjEWb+
AAAA4gEAABMAAAAAAAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwECLQAUAAYACAAA
ACEAMd1fYdIAAACPAQAACwAAAAAAAAAAAAAAAAAvAQAAX3JlbHMvLnJlbHNQSwECLQAUAAYACAAA
ACEAx5CjQjgDAAABBwAAEAAAAAAAAAAAAAAAAAAqAgAAZHJzL3NoYXBleG1sLnhtbFBLAQItABQA
BgAIAAAAIQC2klv53AAAAP4AAAAPAAAAAAAAAAAAAAAAAJAFAABkcnMvZG93bnJldi54bWxQSwUG
AAAAAAQABAD1AAAAmQYAAAAA
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="f"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s8194" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:6.5%;left:1.12%;width:98.12%;height:
 5.25%'><span style='font-size:55%;text-shadow:auto'>Tower sections were
 delivered by George K7WWA and </span></span><span style='position:absolute;
 top:12.0%;left:-2.43%;width:105.05%;height:5.25%'><span style='font-size:55%;
 text-shadow:auto'>Tim WB9NJS. Some of our other parts started to arrive too.</span></span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s8195"
  type="#_x0000_m1031" alt="tower" style='position:absolute;left:84pt;top:180pt;
  width:210pt;height:312pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0008_image009.jpg" o:title="tower"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_10" src="slide0008_image010.gif" alt=tower
 style='position:absolute;top:33.25%;left:11.61%;width:29.21%;height:57.75%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s8196" type="#_x0000_m1031"
  alt="tower1" style='position:absolute;left:330pt;top:102pt;width:279pt;
  height:192pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0008_image011.jpg" o:title="tower1"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_11" src="slide0008_image012.gif" alt=tower1
 style='position:absolute;top:19.0%;left:45.88%;width:38.76%;height:35.5%'><![endif]><v:shapetype
  id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
  path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_14" o:spid="_x0000_s8197" type="#_x0000_t75"
  alt="plate2" style='position:absolute;left:330pt;top:310.5pt;width:282pt;
  height:211.5pt;visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0008_image013.jpg" o:title="plate2"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_14"
 src="slide0008_image014.gif" alt=plate2 style='position:absolute;top:57.5%;
 left:45.88%;width:39.13%;height:39.25%'><![endif]></p:slide></div>

</body>

</html>
