<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description content="2/23/2017: Now for the Rotator">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="26"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s26626" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAPG4
YS4QAwAAkgYAABAAAABkcnMvc2hhcGV4bWwueG1spFRtb9MwEP6OxH+w/BWNbqUwVi1FbNIAqZqq
pYiP6JI4bahjB9vp2v16nrPTsu0DQhC1zl3ufC/PvVx+2LVabJXzjTWZPHt9KoUypa0as8rk1+XN
yXspfCBTkbZGZXKvvPwwe/nispv6TuCy8dMuk+sQuulo5Mu1asm/tp0ykNXWtRTAutWoc8orEyjA
UatH49PTd6OWGiNnMGW2ebdwTJW324UTTZXJsRSGWrhcNkErcSZHgzypEvzPbbnxQxD0N0FUju6R
2RP/wthPDilEB6MYwSEYg1jYabcWYd8hlMChSIS3y+RkfDG5eHc+vnjLkeFi0o7EwYBHVjHssLuy
1X52SdMCb2SYkPv3oFGygIyte5Di3hHi9z97cghOfzE+kxdnkwlqGSIzeXs+BuMeS4rHEtO311Yz
BoJMCauZLIM7MNcBPO6Xtu0ozE3elazK2XTOh+XuG7lOMAmE1C7c2nxNnYoKtJ37wPg81o1sAoKN
aB/ysEeN/xMUuIGX/7USjaBCLbl5TBvEXST0FhABh8ZU6ORIkl5hbCJWlaqXVOQPA/aMd0j6iubm
ym0ivLU14WO8VJDnamEgzCDGlTWZFRp00ZsSDhLGmgHnqHxXLsogtsSVOuUndh4AfKRxpernugc1
3P8t/ViHP+gN0qK/1m65i8AWff5wJG+QxpG5xWaIKoGKVG2aAo272PtceJ4imqYDyG76tmntjyaB
iowzqczJ1xybBuihbwFEkZCOZ59JAxe8iFyzwRgam0dKio1ywB/6JY/AoMXtiU+Gt49uHtTnyDLe
uuEdFmULZ20d6apxYR8p34ZrrSha5Ii14dPYm0br1MPpi7e6qfhjRJB3ngJOqTBhNx6q8kRL1bUq
A9DhK7YPyuXr6l4Uund3VGXyzXtUVIqq4SE6Mpi78XmqtEitFnQcK+9WxdFlVDgU+Wg7DtkTt/3c
DDXrOfiBjh0Y91tNJdB51f440YFzoKmiZwJFSVD6Z4LSD1m7VOwwE9+/45f+TODhLQAAcKIXuDFw
dtPDbgTpu9kvAAAA//8DAFBLAwQUAAYACAAAACEA/1u49dcAAAD5AAAADwAAAGRycy9kb3ducmV2
LnhtbESPUU/CMBSF3038D8018cVAJwouk0KM0SiPQxLj22W9rIW1nW1h27+34QEfT87Jd/LNl71p
2Il80M4KuB9nwMhWTmpbC9h8vY9yYCGildg4SwIGCrBcXF/NsZCusyWd1rFmCWJDgQJUjG3BeagU
GQxj15JN3c55gzFFX3PpsUtw0/BJls24QW3Tg8KWXhVVh/XRCJg+1r9Hvc1l97QffvJvfte8KRLi
9qZ/eQYWqY//43I6e4irS3lGfUoBE2C7j2HrtSwxRPICklsyTZbAF38AAAD//wMAUEsBAi0AFAAG
AAgAAAAhAFrjEWb+AAAA4gEAABMAAAAAAAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQ
SwECLQAUAAYACAAAACEAMd1fYdIAAACPAQAACwAAAAAAAAAAAAAAAAAvAQAAX3JlbHMvLnJlbHNQ
SwECLQAUAAYACAAAACEA8bhhLhADAACSBgAAEAAAAAAAAAAAAAAAAAAqAgAAZHJzL3NoYXBleG1s
LnhtbFBLAQItABQABgAIAAAAIQD/W7j11wAAAPkAAAAPAAAAAAAAAAAAAAAAAGgFAABkcnMvZG93
bnJldi54bWxQSwUGAAAAAAQABAD1AAAAbAYAAAAA
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s26626" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:7.25%;left:5.99%;width:88.2%;height:9.25%'><span
 style='text-shadow:auto'>Now for the Rotator</span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s26627"
  type="#_x0000_m1031" alt="CIMG3007.jpg" style='position:absolute;left:30pt;
  top:120pt;width:222pt;height:306pt;visibility:visible;mso-wrap-style:square'
  o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
  stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0025_image094.jpg" o:title="CIMG3007"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_4"
 src="slide0025_image095.gif" alt=CIMG3007.jpg style='position:absolute;
 top:22.25%;left:4.11%;width:30.89%;height:56.75%'><![endif]><v:shapetype id="_x0000_t75"
  coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" aspectratio="t"/>
 </v:shapetype><v:shape id="Picture_x0020_9" o:spid="_x0000_s26628" type="#_x0000_t75"
  alt="CIMG3019.jpg" style='position:absolute;left:324pt;top:120pt;width:342pt;
  height:302.75pt;visibility:visible;mso-wrap-style:square'>
  <v:imagedata src="slide0025_image096.jpg" o:title="CIMG3019"/>
  <v:path arrowok="t"/>
 </v:shape><![if !vml]><img border=0 v:shapes="Picture_x0020_9"
 src="slide0025_image097.gif" alt=CIMG3019.jpg style='position:absolute;
 top:22.25%;left:44.94%;width:47.56%;height:56.0%'><![endif]><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s26629" type="#_x0000_t202" style='position:absolute;
  left:42pt;top:462pt;width:642pt;height:38.75pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-rotate-with-shape:t;mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s26629">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:86.5%;left:6.92%;width:102.99%;height:5.5%'><span style='font-size:144%'>The<span
 style='mso-spacerun:yes'>  </span>rotator is<span style='mso-spacerun:yes'> 
 </span>installed, positioned, and bolted down.</span></div>
 </div>
</p:slide></div>

</body>

</html>
