<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description
content="2/23/2017: Now that the antennas are up, a switch panel that I built will be put into use.">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="36"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s36866" type="#_x0000_m1030"
  style='position:absolute;left:48pt;top:1in;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAL5g
v41WAwAAZwcAABAAAABkcnMvc2hhcGV4bWwueG1spFRRb9s4DH4/4P6DoNdDl8TL2saoU6wFuh0Q
FEGd4R4H2ZYTL7Lkk+Q06a/fJ8pJsz4cDisQOKRIieT3kby53beK7aR1jdEZn3wYcyZ1aapGrzP+
bfVwcc2Z80JXQhktM36Qjt/O//zjpktdx3BZu7TL+Mb7Lh2NXLmRrXAfTCc1bLWxrfBQ7XrUWemk
9sIjUKtGyXh8OWpFo/kcT+ld3i1tkMrH3dKypsp4wpkWLUKuGq8km/DRYI+uAvEXpty6IQnxf5Ko
rHhGZb/EZ9p8sSiBAowog2MyGrmEoN2G+UOHVHxIhSO9fcanyWw6u7xKZp9CZrgYvUk4PuCoKpHu
a9u+N8/5jUhNXTOEvhzPLsdg6pDx2WQ6hYgMRCr3npUwXydJtJdwmEymH8fRYxQToWRjZl3q93em
OoTbBf4BfaT099FEL3lQYewLZ89WAFj3by8sUFN/azckzJknZfrpKkEd9txSnFt0394bFchhQpd4
NeOlt0fl3kPH/dK0nfALnXdlcA3VdNb51f4fYTsWRFAHdB5NvhGdJAexWzgfiDv3JTUCER5Rzuf+
gOZ7JyjEznFafhtaKgsMtcIuqGwITySoHSACDo2uMGIkCrXGPBNWlaxXoshfTs3CrI/+Uiz0nd0S
vLXR/jNdKoQLbGFS9WDG0xuh15icZa9LBIgYqwB4yMp15bL0bCcCU2i2U7ude9zJ+q0v9S0IwP1X
6+fa/4ffYC36e2VXewK26POXk/iAMk7KI1YWuXhRRLZFCjSelnYgPoy3SOMHyG77tmnNjyaCiooz
LvXFtxwrEOhhzgBEEZGmb59xjRBhQ9pmi/2gTU4SZ1tpgX/ozTACg1doTxzpsBZV8yK/khrwVk1Y
rmRbWmNqkqvGekwwTl3r75UU9GLIWOnw1eahUSqWEk+cUU0VDgnBsIwlcIrE+H1Ciwpwn3vJupal
Bzrhium9tPmmemaF6u2TqDL+8RqMclY1YYhOCuYuuYpMs9hqXtFYObsuTiHJ4Ujy6W0asl/C9gs9
cNaH5AeZOpAWby1KoPNX++NC+WHViTcGKaKhdG8MpRuqtpFsP2ffv+MXPyScKYxF2+AyOOL06BNO
gkYnJIQNAvDwRR+FbYLv616F6Lr5TwAAAP//AwBQSwMEFAAGAAgAAAAhABJk7RvYAAAA+QAAAA8A
AABkcnMvZG93bnJldi54bWxEj8FKAzEURfeC/xCe0I20GYu2w9i0FGmpCzdTBXH3OnmdRCfJmKSd
Gb++wYUuL/dyLmex6k3DzuSDdlbA3SQDRrZyUttawNvrdpwDCxGtxMZZEjBQgNXy+mqBhXSdLem8
jzVLEBsKFKBibAvOQ6XIYJi4lmzqjs4bjCn6mkuPXYKbhk+zbMYNapseFLb0pKj62p+MgIf7+vuk
D7ns5p/DR/7Ob5uNIiFGN/36EVikPv6Pf2blyxr/yl/UsxQwBXbcDQevZYkhkheQ3JJpsgS+vAAA
AP//AwBQSwECLQAUAAYACAAAACEAWuMRZv4AAADiAQAAEwAAAAAAAAAAAAAAAAAAAAAAW0NvbnRl
bnRfVHlwZXNdLnhtbFBLAQItABQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAAAAAAAAAAAAAAC8B
AABfcmVscy8ucmVsc1BLAQItABQABgAIAAAAIQC+YL+NVgMAAGcHAAAQAAAAAAAAAAAAAAAAACoC
AABkcnMvc2hhcGV4bWwueG1sUEsBAi0AFAAGAAgAAAAhABJk7RvYAAAA+QAAAA8AAAAAAAAAAAAA
AAAArgUAAGRycy9kb3ducmV2LnhtbFBLBQYAAAAABAAEAPUAAACzBgAAAAA=
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="t"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s36866" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:8.75%;left:4.11%;width:95.13%;
 height:8.5%'><span style='font-size:91%;text-shadow:auto'>Now that the
 antennas are up, a </span></span><span style='position:absolute;top:17.75%;
 left:2.24%;width:99.25%;height:8.5%'><span style='font-size:91%;text-shadow:
 auto'>switch panel that I built will be put </span></span><span
 style='position:absolute;top:26.5%;left:7.67%;width:88.2%;height:8.5%'><span
 style='font-size:91%;text-shadow:auto'>into use.</span></span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s36867"
  type="#_x0000_m1031" alt="panel.jpg" style='position:absolute;left:30pt;
  top:192pt;width:5in;height:270pt;visibility:visible;mso-wrap-style:square'
  o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
  stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0035_image134.jpg" o:title="panel"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="t" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Content_x0020_Placeholder_x0020_9"
 src="slide0035_image135.gif" alt=panel.jpg style='position:absolute;
 top:35.5%;left:4.11%;width:50.0%;height:50.0%'><![endif]><v:shapetype id="_x0000_t202"
  coordsize="21600,21600" o:spt="202" path="m,l,21600r21600,l21600,xe">
  <v:stroke joinstyle="miter"/>
  <v:path gradientshapeok="t" o:connecttype="rect"/>
 </v:shapetype><v:shape id="_x0000_s36868" type="#_x0000_t202" style='position:absolute;
  left:402pt;top:228pt;width:342pt;height:181.75pt;visibility:visible;
  mso-wrap-style:square;v-text-anchor:top' filled="f" stroked="f">
  <v:textbox style='mso-rotate-with-shape:t;mso-fit-shape-to-text:t'/>
 </v:shape>
 <div v:shape="_x0000_s36868">
 <div class=O1 style='mso-margin-left-alt:468'></div>
 <div class=O2 style='mso-margin-left-alt:720'></div>
 <div class=O3 style='mso-margin-left-alt:1008'></div>
 <div class=O4 style='mso-margin-left-alt:1296'></div>
 <div class=O style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span
 style='position:absolute;top:43.25%;left:56.92%;width:48.12%;height:7.75%'><span
 style='font-size:200%'>It allows switching </span></span><span
 style='position:absolute;top:51.25%;left:56.92%;width:45.69%;height:7.75%'><span
 style='font-size:200%'>between all the&#13;</span></span></div>
 <div class=O style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span
 style='position:absolute;top:59.25%;left:56.92%;width:47.56%;height:7.75%'><span
 style='font-size:200%'>antennas<span style='mso-spacerun:yes'>  </span>using 3
 </span></span><span style='position:absolute;top:67.25%;left:56.92%;
 width:45.69%;height:7.75%'><span style='font-size:200%'>different radios. </span></span></div>
 </div>
</p:slide></div>

</body>

</html>
