<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description
content="2/23/2017: Len WA6KLK, using the gin pole, lifted sections up and positioned them for attachment.  Followed by another section soon afterwards.">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="17"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s17410" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAJdu
aVVEAwAAJAcAABAAAABkcnMvc2hhcGV4bWwueG1spFRtb+I4EP5+0v4Hy19XXVqOpQtqqFqk3p2E
KtR0dR8rJ3Egi2P7bIdCf/0+YwdK++G02kbCzHjG8/LMy9X1rlVsK51vjM74xZdzzqQuTdXoVca/
P96dfePMB6EroYyWGd9Lz69nn/64slNvGR5rP7UZX4dgp4OBL9eyFf6LsVJDVhvXigDWrQbWSS91
EAGOWjUYnp+PB61oNJ/BlN7mdumIKu+3S8eaKuOj8XgyhnctWvh9kCWiWCnJhiM+6DXTI4FIFqbc
+D4c8SvhVE48I8c3kTBt/nJI5gJOzXwNd/LGOfO8lqLydA2/gxjiIVqNYCkWu2ZhbxFmaIKSHPHv
kMBwMpqML4eTr/3DpA0Lr+l6pB2zCbtbU+1nV2Ja4B8QJGh/PxfUNAAI4144e3YCafn/OuEQnPpH
I5vJxWiEYofIjL5eDsG4U0lxKtFdOzcqQiN0CasZL4PjLDHzAB7vS9NaERY6tyWpUjbW+fC4+1c4
y4gEQnIX7k2+FlZGBbFd+EDAnupGNgFBRpQPedij9h8EBW7g5aNWohFUqBVuEdMG8RAJtQVEwKHR
FVo9kkKtMFcRq0rWj6LIX3rsCe+Q9KVY6Fu3ifDWRoeb+KgQnqqFidG9GE+oK9G3y06XcJAwVgQ4
ReVtuSwD2wqq1Dl9sfMA4InGrazf6x7U8P5VelOH/9HrpUU3V+5xF4EtuvzlSN4hjSNzj9URVYIo
UrXFFGg8xN6nwtMUiWk6gOyma5vW/GgSqMg441Kffc+xioDecIS8WJGQjmeXcQ0XtKlcs8EYapNH
irONdMAf+iWNQK9F7YkrTetJNS/y78gS3qqhJRdlS2dMHemqcWEfKd+GuZIiWqSIlaZTm7tGqdTD
6cYb1VR0GRGkpSiBUypM2A37qrzRknWNFQd06InpgnT5unpmhercg6gy/uc3VJSzqqEhOjKYu+Fl
qjRLrRZUHCvvVsXRZVQ4FPloOw7ZG7fdQvc16yj4no4dGPdbLUqg87n9caYC5SCmUrwTSJEEpX8n
KH2ftUvFDjP29MQO3xN9uDj+IIp38SJSpN4rJEkSvb+DxVfxCXmwkawcVGjtAHGcaD7qRJx2eljG
IL2d/QQAAP//AwBQSwMEFAAGAAgAAAAhAO3V0GHcAAAA/gAAAA8AAABkcnMvZG93bnJldi54bWxE
j8tuwjAQRfeV+AdrkLorDqiKSsAgWqUPqXSR0A27IR4ci9iObBdCv75WF+1ydEfn3rNcD6ZjZ/JB
OytgOsmAkW2c1FYJ+Nw93z0ACxGtxM5ZEnClAOvV6GaJhXQXW9G5jooliA0FCmhj7AvOQ9OSwTBx
PdmUHZ03GNPpFZceLwluOj7Lspwb1DY1tNjTU0vNqf4yAuaPL6ddZ/bDplTyY1vHsnpvSiFux8Nm
ASzSEP+fq5nS3+Yv/EW9SQH3eT7P0/rj6/XgtawwRPICkmDSTarAVz8AAAD//wMAUEsBAi0AFAAG
AAgAAAAhAFrjEWb+AAAA4gEAABMAAAAAAAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQ
SwECLQAUAAYACAAAACEAMd1fYdIAAACPAQAACwAAAAAAAAAAAAAAAAAvAQAAX3JlbHMvLnJlbHNQ
SwECLQAUAAYACAAAACEAl25pVUQDAAAkBwAAEAAAAAAAAAAAAAAAAAAqAgAAZHJzL3NoYXBleG1s
LnhtbFBLAQItABQABgAIAAAAIQDt1dBh3AAAAP4AAAAPAAAAAAAAAAAAAAAAAJwFAABkcnMvZG93
bnJldi54bWxQSwUGAAAAAAQABAD1AAAApQYAAAAA
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="f"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s17410" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:4.0%;left:1.31%;width:97.56%;height:
 5.25%'><span style='font-size:55%;text-shadow:auto'>Len WA6KLK, using the gin
 pole, lifted sections up and </span></span><span style='position:absolute;
 top:9.25%;left:2.8%;width:94.56%;height:5.25%'><span style='font-size:55%;
 text-shadow:auto'>positioned them for attachment.<span
 style='mso-spacerun:yes'>  </span>Followed by another </span></span><span
 style='position:absolute;top:14.5%;left:5.99%;width:88.2%;height:5.25%'><span
 style='font-size:55%;text-shadow:auto'>section soon afterwards.</span></span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s17411"
  type="#_x0000_m1031" alt="don-tower4" style='position:absolute;left:542.25pt;
  top:234pt;width:177.75pt;height:237pt;visibility:visible;mso-wrap-style:square'
  o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
  stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0016_image044.jpg" o:title="don-tower4"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_11" src="slide0016_image045.gif"
 alt=don-tower4 style='position:absolute;top:43.25%;left:75.28%;width:24.71%;
 height:44.0%'><![endif]><p:shaperange href="master58.xml#_x0000_m1031"/><v:shape
  id="_x0000_s17412" type="#_x0000_m1031" alt="don-tower9" style='position:absolute;
  left:258pt;top:162pt;width:265.5pt;height:354pt;visibility:visible;
  mso-wrap-style:square' o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0016_image046.jpg" o:title="don-tower9"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_26" src="slide0016_image047.gif"
 alt=don-tower9 style='position:absolute;top:30.0%;left:35.76%;width:36.89%;
 height:65.5%'><![endif]><p:shaperange href="master58.xml#_x0000_m1031"/><v:shape
  id="_x0000_s17413" type="#_x0000_m1031" alt="Don-tower1" style='position:absolute;
  left:36pt;top:156pt;width:207pt;height:276pt;visibility:visible;
  mso-wrap-style:square' o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
  filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0016_image048.jpg" o:title="Don-tower1"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="quarter"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_28" src="slide0016_image049.gif"
 alt=Don-tower1 style='position:absolute;top:29.0%;left:5.05%;width:28.83%;
 height:51.0%'><![endif]></p:slide></div>

</body>

</html>
