<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description
content="2/23/2017: 8.9 ft Diamond vertical antenna is installed">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="23"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s23554" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAHFy
F3QqAwAAwQYAABAAAABkcnMvc2hhcGV4bWwueG1spFRbb9s6DH4/wPkPgl4PurQ56SVBnaEN0O0A
QRHUHfY40LaceJElH0lO0/76fZTc9PIwDJuBKKRIiuTHy+XHfavFTjnfWJPJkw/HUihT2qox60x+
ub85upDCBzIVaWtUJh+Vlx/nf/912c18J2Bs/KzL5CaEbjYa+XKjWvIfbKcMZLV1LQWwbj3qnPLK
BApw1OrR+Pj4bNRSY+QcT5ld3q0cU+XtbuVEU2VyMj09O4F3Qy383qkSUay1EmM5GhSTDSGQpS23
foiGfiWaytEDUnwTiDD2k0MuJ/BpFxt4U1fO2YeNosrzNfyOYoTPwRrEyrF0GxEeO0QZmqCVRPh7
xD+eTqZn5+Pp6WCYtPHCS7YeWcdswv7aVo/zS5oV+AcCCdnfzwUlDQDCuicpHhwhLf9/Tw7B6f8M
spmeTCaodYjM5PR8DMa9lhSvJaZvF1ZHaMiUeDWTZXBSJGYRwMO+tG1HYWnyrmRVzqZzPtzvv5Lr
BJNASO3Drc031KmoQLulDwzsa93IJiD4Ee1DHh5R+j8EBW7g5U9fiY+gQi25ZUwbxF0k9A4QAYfG
VOj0SJJeY6wiVpWq76nInwbsGe+Q9BUtzbXbRnhra8JVNCrIc7UwMGYQw4S7En276k0JBwljzYBz
VL4rV2UQO+JKHfMXOw8AvtK4VvV73Wc12L9Ir+rwE71BWvQL7e73Ediiz58O5A3SODC32BxRJVCR
qk0zoHEXe58Lz1NEs3QA2W3fNq393iRQkXEmlTn6kmMTAb3xBfISRUI6nn0mDVzwonLNFmNobB4p
KbbKAX/olzwCgxa3J64MbyfdPKnPkWW8dcM7LspWzto60r4NC60ovsNxasOnsTeN1qlz0423uqn4
MuLGm1ABnVSOsI9rC8m+0VJ1jb0GTNjE9kG5fFM9iEL37o6qTP57gTpKUTU8OgcG0zY+T/UVqcGC
jsPk3bo4uIwKz6U9vB1H643bfmmGSvUc/EDHvotbraYSmPzTfj/SgfuJZoreCRQlQenfCUo/dKBL
JQ5zge/bN/7xN/y9ECxLIpy8FIAMTrQG9wnObva8KkH6bv4DAAD//wMAUEsDBBQABgAIAAAAIQA1
0XqI3QAAAP4AAAAPAAAAZHJzL2Rvd25yZXYueG1sRI9NT8JAEIbvJvyHzZB4ky0NEqksBEj9SNRD
ix68jd2hbejuNrsjlH/vxoMeJ+/ked9nuR5MJ07kQ+usgukkAUG2crq1tYL3/cPNHYjAaDV2zpKC
CwVYr0ZXS8y0O9uCTiXXIkJsyFBBw9xnUoaqIYNh4nqyMTs4b5Dj6WupPZ4j3HQyTZK5NNja2NBg
T7uGqmP5bRQsto/HfWc+h01e67fXkvPipcqVuh4Pm3sQTAP/P+t09yHTv/AX9awVzBa382lcf3i6
fPlWFxiYvIIoGHWjKsjVDwAAAP//AwBQSwECLQAUAAYACAAAACEAWuMRZv4AAADiAQAAEwAAAAAA
AAAAAAAAAAAAAAAAW0NvbnRlbnRfVHlwZXNdLnhtbFBLAQItABQABgAIAAAAIQAx3V9h0gAAAI8B
AAALAAAAAAAAAAAAAAAAAC8BAABfcmVscy8ucmVsc1BLAQItABQABgAIAAAAIQBxchd0KgMAAMEG
AAAQAAAAAAAAAAAAAAAAACoCAABkcnMvc2hhcGV4bWwueG1sUEsBAi0AFAAGAAgAAAAhADXReojd
AAAA/gAAAA8AAAAAAAAAAAAAAAAAggUAAGRycy9kb3ducmV2LnhtbFBLBQYAAAAABAAEAPUAAACM
BgAAAAA=
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="f"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s23554" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1;position:absolute;top:9.0%;left:5.99%;width:88.2%;height:6.0%'><span
 style='font-size:64%;text-shadow:auto'>8.9 ft Diamond vertical antenna is
 installed</span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s23555"
  type="#_x0000_m1031" alt="CIMG2913" style='position:absolute;left:30pt;top:132pt;
  width:318pt;height:354pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0022_image084.jpg" o:title="CIMG2913"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_9" src="slide0022_image085.gif" alt=CIMG2913
 style='position:absolute;top:24.5%;left:4.11%;width:44.19%;height:65.5%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s23556" type="#_x0000_m1031"
  alt="CIMG2914" style='position:absolute;left:392.25pt;top:126pt;width:265.5pt;
  height:354pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0022_image086.jpg" o:title="CIMG2914"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_14" src="slide0022_image087.gif"
 alt=CIMG2914 style='position:absolute;top:23.25%;left:54.49%;width:36.89%;
 height:65.5%'><![endif]></p:slide></div>

</body>

</html>
