<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description
content="2/23/2017: Bill KK6HZU was our concrete expert and spent the morning mixing, pouring, and readying the concrete for the base of the tower.">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="10"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s10242" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:90pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhAPD+
s0Q8AwAAFAcAABAAAABkcnMvc2hhcGV4bWwueG1spFRtb9MwEP6OxH+w/BWNbqUwVi1FW6UBUjVV
yxAfp0vitKGOHWyn6/brec7OuhchhKBSnTvfne/uuZfTT7tWi61yvrEmk0dvD6VQprRVY1aZ/HZ9
cfBRCh/IVKStUZm8U15+mr1+ddpNfSdgbPy0y+Q6hG46GvlyrVryb22nDGS1dS0FsG416pzyygQK
cNTq0fjw8MOopcbIGZ4y27xbOqbKy+3SiabK5OTd5OgY3g218HulSkSx0kqM5WhQTDaEQBa23Pgh
GvqbaCpHt0jxWSDC2M8OuRzBp52v4U2dOWdv14oqz9fwO4oRPgRrECvH0q1FuOsQZWiCVhLh7xD/
+GRy8uF4fPJ+MEzaeOExW4+sYzZhd26ru9kpTQt8gUBC9t9zQUkDgLDuXopbR0jL/+zJITj91SCb
k6PJBLUOkZm8Px6DcU8lxVOJ6du51REaMiVezWQZnBSJmQfwsC9t21FYmLwrWZWz6ZwP17vv5DrB
JBBSu3Bp8zV1KirQduEDA/tUN7IJCH5E+5CHO5T+P0GBG3j531fiI6hQS24R0wZxFQm9BUTAoTEV
Oj2SpFcYq4hVpeprKvL7AXvGOyR9RQtz7jYR3tqacBaNCvJcLQyMGcQw4a5E3y57U8JBwlgz4ByV
78plGcSWuFKH/IudBwCfaJyr+qXugxrsH6VndfiD3iAt+rl217sIbNHn93vyAmnsmUtsjqgSqEjV
pinQuIq9z4XnKaJpOoDspm+b1v5oEqjIOJPKHHzLsYmA3niCvESRkI5nn0kDF7yoXLPBGBqbR0qK
jXLAH/olj8Cgxe2JK8PbSTf36ktkGW/d8I6LsqWzto60b8NcK4rvcJza8GnsRaN16tx0461uKr6M
uPEmVEAnlSPs4tpCss+0VF1jrwETNrF9UC5fV7ei0L27oiqT7z6ijlJUDY/OnsG0jY9TfUVqsKDj
MHm3KvYuo8JDafdvx9F65rZfmKFSPQc/0LHv4larqQQmb9ofBzpwP9FU0QuBoiQo/QtB6YcOdKnE
YSZubm7E8GNy+OOTmOHD98+l6Qa2UcKPDAqR/y0TVXE8CgXvGYCNE93GrYezmz5sX5C+m/0CAAD/
/wMAUEsDBBQABgAIAAAAIQBfr+Q43AAAAP4AAAAPAAAAZHJzL2Rvd25yZXYueG1sRI/LTsMwEEX3
lfoP1iCxo05LxSPUrVIUHhKwSMqG3RBPHmpsR/bQpn+PxYIuR3d07j2rzWh6cSAfOmcVzGcJCLKV
051tFHzunq7uQARGq7F3lhScKMBmPZ2sMNXuaAs6lNyICLEhRQUt85BKGaqWDIaZG8jGrHbeIMfT
N1J7PEa46eUiSW6kwc7GhhYHemyp2pc/RsH99nm/683XmOWN/ngvOS/eqlypy4sxewDBNPL5Geus
3Nb/4R/qVStYXi/nt3F9/XL69p0uMDB5BVEw6kZVkOtfAAAA//8DAFBLAQItABQABgAIAAAAIQBa
4xFm/gAAAOIBAAATAAAAAAAAAAAAAAAAAAAAAABbQ29udGVudF9UeXBlc10ueG1sUEsBAi0AFAAG
AAgAAAAhADHdX2HSAAAAjwEAAAsAAAAAAAAAAAAAAAAALwEAAF9yZWxzLy5yZWxzUEsBAi0AFAAG
AAgAAAAhAPD+s0Q8AwAAFAcAABAAAAAAAAAAAAAAAAAAKgIAAGRycy9zaGFwZXhtbC54bWxQSwEC
LQAUAAYACAAAACEAX6/kONwAAAD+AAAADwAAAAAAAAAAAAAAAACUBQAAZHJzL2Rvd25yZXYueG1s
UEsFBgAAAAAEAAQA9QAAAJ0GAAAAAA==
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="f"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape>
 <div v:shape="_x0000_s10242" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:4.0%;left:4.3%;width:91.57%;height:5.25%'><span
 style='font-size:55%;text-shadow:auto'>Bill KK6HZU was our concrete expert and
 spent the </span></span><span style='position:absolute;top:9.25%;left:-1.87%;
 width:103.93%;height:5.25%'><span style='font-size:55%;text-shadow:auto'>morning
 mixing, pouring, and readying the concrete for the </span></span><span
 style='position:absolute;top:14.5%;left:5.99%;width:88.2%;height:5.25%'><span
 style='font-size:55%;text-shadow:auto'>base of the tower.</span></span></div>
 <p:shaperange href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s10243"
  type="#_x0000_m1031" alt="CIMG2826" style='position:absolute;left:60pt;top:126pt;
  width:265.5pt;height:354pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0009_image019.jpg" o:title="CIMG2826"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_5" src="slide0009_image020.gif" alt=CIMG2826
 style='position:absolute;top:23.25%;left:8.42%;width:36.89%;height:65.5%'><![endif]><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s10244" type="#_x0000_m1031"
  alt="CIMG2823" style='position:absolute;left:384pt;top:126pt;width:281.875pt;
  height:354pt;visibility:visible;mso-wrap-style:square' o:spt="75"
  o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
  <v:stroke joinstyle="miter"/>
  <v:imagedata src="slide0009_image021.jpg" o:title="CIMG2823"/>
  <v:formulas>
   <v:f eqn="if lineDrawn pixelLineWidth 0"/>
   <v:f eqn="sum @0 1 0"/>
   <v:f eqn="sum 0 0 @1"/>
   <v:f eqn="prod @2 1 2"/>
   <v:f eqn="prod @3 21600 pixelWidth"/>
   <v:f eqn="prod @3 21600 pixelHeight"/>
   <v:f eqn="sum @0 0 1"/>
   <v:f eqn="prod @6 1 2"/>
   <v:f eqn="prod @7 21600 pixelWidth"/>
   <v:f eqn="sum @8 21600 0"/>
   <v:f eqn="prod @7 21600 pixelHeight"/>
   <v:f eqn="sum @10 21600 0"/>
  </v:formulas>
  <v:path arrowok="f" o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="t" position="f" selection="f"
   cropping="f" verticies="f" text="t" adjusthandles="f" grouping="t"
   shapetype="f"/>
  <p:placeholder type="object" position="-1" size="half"/></v:shape><![if !vml]><img
 border=0 v:shapes="Picture_x0020_11" src="slide0009_image022.gif"
 alt=CIMG2823 style='position:absolute;top:23.25%;left:53.37%;width:39.13%;
 height:65.5%'><![endif]></p:slide></div>

</body>

</html>
