<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:p="urn:schemas-microsoft-com:office:powerpoint"
xmlns:oa="urn:schemas-microsoft-com:office:activation"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=PowerPoint.Slide>
<meta name=Generator content="Microsoft PowerPoint 12">
<link id=Main-File rel=Main-File href="../Think%20You%20Want%20a%20Tower.htm">
<link rel=Preview href=preview.wmf>
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
p\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
v\:textbox {display:none;}
</style>
<![endif]-->
<title>Think You Want a Tower?</title>
<meta name=Description
content="2/23/2017: How  now the work starts!  We decided on a Rohn 25 tower at 40 feet">
<link rel=Stylesheet href="master58_stylesheet.css">
<![if !ppt]>
<style media=print>
<!--.sld
	{left:0px !important;
	width:6.0in !important;
	height:4.5in !important;
	font-size:107% !important;}
-->
</style>
<script src=script.js></script><script><!--
if( !IsNts() ) Redirect( "PPTSld" );
//--></script><!--[if vml]><script>g_vml = 1;
</script><![endif]--><![endif]><o:shapelayout v:ext="edit">
 <o:idmap v:ext="edit" data="7"/>
</o:shapelayout>
</head>

<body lang=EN-US style='margin:0px;background-color:black'
onclick="DocumentOnClick()" onresize="_RSW()" onload="LoadSld()"
onkeypress="_KPH()">

<div id=SlideObj class=sld style='position:absolute;top:0px;left:0px;
width:534px;height:400px;font-size:16px;background-color:#00182F;clip:rect(0%, 101%, 101%, 0%);
visibility:hidden'><p:slide coordsize="720,540"
 colors="#003366,#ffffff,#10104c,#c6ccd4,#33ccff,#5b5b8d,#4529ab,#00cc99"
 masterhref="master58.xml">
 <p:shaperange href="master58.xml#_x0000_s1025"/><![if !vml]><img
 src="master58_background.gif" v:shapes="_x0000_s1025" style='position:absolute;
 top:0%;left:0%;width:100.0%;height:100.0%'><![endif]><![if !ppt]><p:shaperange
  href="master58.xml#_x0000_s1026"/><![if !vml]><img border=0
 v:shapes="_x0000_s1026,_x0000_s1049,_x0000_s1050" src="master58_image005.gif"
 style='position:absolute;top:0%;left:0%;width:100.37%;height:100.5%'><![endif]><p:shaperange
  href="master58.xml#_x0000_s1027"/><![if !vml]><img border=0
 v:shapes="_x0000_s1027" src="master58_image006.gif" style='position:absolute;
 top:91.25%;left:68.35%;width:32.02%;height:9.25%'><![endif]><p:shaperange
  href="master58.xml#_x0000_s1028"/><![if !vml]><img border=0
 v:shapes="_x0000_s1028,_x0000_s1041,_x0000_s1044,_x0000_s1045,_x0000_s1046,_x0000_s1047,_x0000_s1048,_x0000_s1043"
 src="master58_image007.gif" style='position:absolute;top:87.75%;left:0%;
 width:86.14%;height:13.0%'><![endif]><p:shaperange
  href="master58.xml#_x0000_s1029"/><![if !vml]><img border=0
 v:shapes="_x0000_s1029,_x0000_s1035,_x0000_s1036,_x0000_s1037,_x0000_s1038,_x0000_s1039,_x0000_s1040"
 src="master58_image008.gif" style='position:absolute;top:87.75%;left:6.92%;
 width:62.54%;height:12.75%'><![endif]><![endif]><p:shaperange
  href="master58.xml#_x0000_m1030"/><v:shape id="_x0000_s7170" type="#_x0000_m1030"
  style='position:absolute;left:36pt;top:18pt;width:9in;height:150pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:middle' o:gfxdata="UEsDBBQABgAIAAAAIQBa4xFm/gAAAOIBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRTU/EIBCG
7yb+BzJX01I9GGNK92D1qEbXHzCBaUu2BcJg3f330v24GNfEI8y8z/sE6tV2GsVMka13Cq7LCgQ5
7Y11vYKP9VNxB4ITOoOjd6RgRwyr5vKiXu8CschpxwqGlMK9lKwHmpBLH8jlSefjhCkfYy8D6g32
JG+q6lZq7xK5VKSFAU3dUoefYxKP23x9MIk0MoiHw+LSpQBDGK3GlE3l7MyPluLYUObkfocHG/gq
a4D8tWGZnC845l7y00RrSLxiTM84ZQ1pIkvjv1ykufwbslhOXPius5rKNnKbY280n6zO0XnAQBn9
X/z7kjvB5f6Hmm8AAAD//wMAUEsDBBQABgAIAAAAIQAx3V9h0gAAAI8BAAALAAAAX3JlbHMvLnJl
bHOkkMFqwzAMhu+DvYPRvXHaQxmjTm+FXksHuwpbSUxjy1gmbd++pjBYRm876hf6PvHv9rcwqZmy
eI4G1k0LiqJl5+Ng4Ot8WH2AkoLR4cSRDNxJYN+9v+1ONGGpRzL6JKpSohgYS0mfWosdKaA0nCjW
Tc85YKljHnRCe8GB9KZttzr/ZkC3YKqjM5CPbgPqfE/V/IcdvM0s3JfGctDc996+omrH13iiuVIw
D1QMuCzPMNPc1OdAv/au/+mVERN9V/5C/Eyr9cesFzV2DwAAAP//AwBQSwMEFAAGAAgAAAAhACjt
3jd6AwAAZgkAABAAAABkcnMvc2hhcGV4bWwueG1s7FVNb+M2EL0X6H8geC2ytlUn/kDkRWIgbQEj
MKIsegwoibK1pkiVpBw7v37fkIrj5FAsdk8FGiDKDGfIefPmI9efD41ie2ldbXTKR5+GnEldmLLW
m5R/eby7mHLmvNClUEbLlB+l458Xv/5y3c5dy3BZu3mb8q337XwwcMVWNsJ9Mq3UsFXGNsJDtZtB
a6WT2guPQI0aJMPh1aARteYLPKX3Wbu2JBX3+7VldZny8WgymY0506JB3AdZAMVGSZbwQe8Y7wgA
WZli53o04nvQlFY8I8V3QJg2f1jkMkJMs9wimryx1jxvpSgdHSPuICB8BauBlbC0W+aPLVD62ivJ
Af8A/MlsPLuaJLPL/mL0xgtv2bqQtZgfKtv8LPzFtZibqmIU+nICfjk7pjxJplcQAV3M5cGzAuZp
kszokBVwGM2Gl8PoMYhAQpYRWTv3h1tTHul2jr8oTSz5j5OMXvOokLEvnD1bAb7dP52wYE39pUHz
bDQeA5oPSkiEM3tuyc8tumuWRoWaCV3g1ZQX3nIWlaWHTnmaphV+pbO2IFfKprXOPx7+FrZlJKJ0
YOfeZFvRyuAg9ivnqeLnvkGNRNAjyvnMH9GTP0lKqM7rNP0wtSEtVKgRdhXShvAQBLUHReCh1iVG
MIhCbTDvgatSVo8iz1567uFnffSXYqVv7S7QWxntb8KlXDiqFiZZ92ZcoXHBQK07XSBA5FgR4YTK
tcW68GwvqFJotlO7nXvcyuqjb+hbFAD336w3lf8Xv96ad0tlHw+B2LzLXk7iHdI4KfdYacHFizxW
W8zBxsPa9oWn8Rbz+AGzu66pG/O1jqQi45RLffElw4oEe+hbEJFHpsO3S7lGCNqgtt5hP2iTBYmz
nbTgH/4FjUDvRe2JI01rU9Uv8s+gEt+qpuUbbGtrTBVk1/ilkiK8QziVpq82d7VSMYF44oyqSzoM
vNGKlmAnlsMfwj4lks+9ZFVh4YITumI6L222LZ9Zrjr7IMqU/z5FHTkraxqdk4JpSyaxviw2mFdh
mJzd5KeQweG1tKe3w2i9C9utdF+pjsD3cui7sG4rUYCT35qvF8r3C058MEgRDYX7YCgcGZC1jSX2
C/b0xBg+T6+/QSCdMXIEE+ROfHxnPyTT//vhv9wP1Aj0Q52BLiApdkg86uV3vYEOadEnb/82Ibp2
8Q0AAP//AwBQSwMEFAAGAAgAAAAhANzVwFzcAAAA/gAAAA8AAABkcnMvZG93bnJldi54bWxEj8FO
wkAURfcm/sPkmbiTKYSAVB4ETUWDsmhh4+7ZebQNnZk6M0L5eycudHlzb87NmS973YoTO99YgzAc
JCDYlFY1pkLY757v7kH4QEZRaw0jXNjDcnF9NadU2bPJ+VSESkSI8Skh1CF0qZS+rFmTH9iOTewO
1mkKMbpKKkfnCNetHCXJRGpqTHyoqeOnmstj8a0RZo/r467VH/0qq9T2vQhZ/lZmiLc3/eoBROA+
/I/XE/012vyVv6hXhTAeTqezMYjDy+XTNSonH9ghRMGoG1VBLn4AAAD//wMAUEsBAi0AFAAGAAgA
AAAhAFrjEWb+AAAA4gEAABMAAAAAAAAAAAAAAAAAAAAAAFtDb250ZW50X1R5cGVzXS54bWxQSwEC
LQAUAAYACAAAACEAMd1fYdIAAACPAQAACwAAAAAAAAAAAAAAAAAvAQAAX3JlbHMvLnJlbHNQSwEC
LQAUAAYACAAAACEAKO3eN3oDAABmCQAAEAAAAAAAAAAAAAAAAAAqAgAAZHJzL3NoYXBleG1sLnht
bFBLAQItABQABgAIAAAAIQDc1cBc3AAAAP4AAAAPAAAAAAAAAAAAAAAAANIFAABkcnMvZG93bnJl
di54bWxQSwUGAAAAAAQABAD1AAAA2wYAAAAA
">
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="f"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="title" position="-1"/></v:shape><p:shaperange
  href="master58.xml#_x0000_m1031"/><v:shape id="_x0000_s7171" type="#_x0000_m1031"
  style='position:absolute;left:36pt;top:126pt;width:9in;height:354pt;
  visibility:visible;mso-wrap-style:square;v-text-anchor:top'>
  <v:stroke o:forcedash="f"/>
  <v:path arrowok="f"/>
  <o:lock v:ext="edit" rotation="f" aspectratio="f" position="f" selection="f"
   verticies="f" text="f" adjusthandles="f" grouping="t" shapetype="f"/>
  <v:textbox style='layout-flow:horizontal;mso-rotate-with-shape:t' inset="7.2pt,3.6pt,7.2pt,3.6pt"/>
  <p:placeholder type="body" position="-1"/></v:shape>
 <div v:shape="_x0000_s7170" class=T style='mso-char-wrap:1;mso-kinsoku-overflow:
 1'><span style='position:absolute;top:8.0%;left:4.3%;width:91.57%;height:9.25%'><span
 style='text-shadow:auto'>How  now the work starts!<br>
  </span></span><span style='position:absolute;top:17.75%;left:5.24%;
 width:89.88%;height:9.25%'><span style='text-shadow:auto'><span
 style='mso-spacerun:yes'> </span></span><span style='font-size:64%;text-shadow:
 auto'>We decided on a Rohn 25 tower at 40 feet</span></span></div>
 <div v:shape="_x0000_s7171">
 <div class=B style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:24.5%;left:5.99%;width:88.2%;height:6.75%'><span style='position:absolute;
 top:0%;left:4.24%;width:95.75%;height:100.0%'><span style='visibility:hidden'><span
 style='mso-special-format:bullet;color:#C6CCD4;mso-color-index:3;position:
 absolute;left:-4.43%'></span></span>&#13;</span></div>
 <div class=B style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:33.0%;left:5.99%;width:88.2%;height:6.75%'><span style='position:absolute;
 top:0%;left:4.24%;width:95.75%;height:100.0%'><span style='mso-special-format:
 bullet;color:#C6CCD4;mso-color-index:3;position:absolute;left:-4.43%'></span>Where
 to buy? &#13;</span></div>
 <div class=B1 style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span
 style='position:absolute;top:41.25%;left:14.04%;width:91.94%;height:6.0%'><span
 style='mso-special-format:bullet;position:absolute;left:-3.25%'></span>New vs
 used, how to get pieces and parts to </span><span style='position:absolute;
 top:47.5%;left:14.04%;width:79.96%;height:6.0%'>our location? (pickup vs
 delivery).&#13;</span></div>
 <div class=B style='mso-char-wrap:1;mso-kinsoku-overflow:1;position:absolute;
 top:55.25%;left:5.99%;width:88.2%;height:6.75%'><span style='position:absolute;
 top:0%;left:4.24%;width:95.75%;height:100.0%'><span style='mso-special-format:
 bullet;color:#C6CCD4;mso-color-index:3;position:absolute;left:-4.43%'></span>Whats
 needed? &#13;</span></div>
 <div class=B1 style='mso-char-wrap:1;mso-kinsoku-overflow:1'><span
 style='position:absolute;top:63.5%;left:14.04%;width:88.57%;height:6.0%'><span
 style='mso-special-format:bullet;position:absolute;left:-3.38%'></span>Foundation,
 tower, rotator, guy wires, coax </span><span style='position:absolute;
 top:69.75%;left:14.04%;width:79.96%;height:6.0%'>and much more.</span></div>
 </div>
</p:slide></div>

</body>

</html>
